/* screen - forms-u38-documents */

.forms-u38-documents {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4652px;
  overflow: hidden;
  width: 1902px;
}

.forms-u38-documents .overlap-group6 {
  align-items: center;
  background-color: var(--royal-purple);
  display: flex;
  height: 45px;
  margin-top: -1px;
  min-width: 1920px;
  padding: 0 62px;
}

.forms-u38-documents .have-any-questions {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 22px;
  min-width: 195px;
}

.forms-u38-documents .email {
  height: 25px;
  margin-left: 34px;
  width: 25px;
}

.forms-u38-documents .infouecampuscom {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 10px;
  min-height: 22px;
  min-width: 157px;
}

.forms-u38-documents .phone {
  height: 25px;
  margin-left: 21px;
  width: 25px;
}

.forms-u38-documents .phone-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 11px;
  min-height: 22px;
  min-width: 128px;
}

.forms-u38-documents .navbar {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 18.0px;
  margin-top: 5px;
  min-width: 1796px;
}

.forms-u38-documents .navbar-link-programs {
  min-width: 92px;
}

.forms-u38-documents .sort-left {
  height: 15px;
  margin-left: 6px;
  margin-top: 1.69px;
  width: 15px;
}

.forms-u38-documents .navbar-link-diplomas {
  margin-left: 33px;
  min-width: 90px;
}

.forms-u38-documents .navbar-link-about-us {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.31px;
  margin-left: 38px;
  min-height: 22px;
  min-width: 88px;
}

.forms-u38-documents .navbar-link-scholarships {
  margin-left: 38px;
  min-width: 121px;
}

.forms-u38-documents .x1-9d8512e0-removebg-preview-1 {
  margin-left: 291px;
}

.forms-u38-documents .navbar-link-login {
  margin-left: 515px;
  min-width: 54px;
}

.forms-u38-documents .overlap-group7 {
  align-items: flex-start;
  background-color: var(--bright-gray);
  border-radius: 10px;
  display: flex;
  height: 49px;
  margin-left: 33px;
  margin-top: 1.69px;
  min-width: 160px;
  padding: 12px 40px;
}

.forms-u38-documents .place {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.forms-u38-documents .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 72px;
  height: 4789px;
  margin-top: 4px;
  min-width: 3522px;
}

.forms-u38-documents .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 4622px;
  width: 1920px;
}

.forms-u38-documents .rectangle-6 {
  background-color: var(--royal-purple);
  height: 3px;
  width: 1920px;
}

.forms-u38-documents .overlap-group4 {
  background-image: url(../img/group-452-1.png);
  background-size: 100% 100%;
  height: 389px;
  position: relative;
  width: 1902px;
}

.forms-u38-documents .title {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 88px;
  font-weight: 700;
  left: 421px;
  letter-spacing: 1.76px;
  line-height: 147.4px;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 1190px;
}

.forms-u38-documents .how-to-apply-at-ue-campus {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 28px;
  font-weight: 500;
  left: 552px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 255px;
  width: 909px;
}

.forms-u38-documents .overlap-group5 {
  height: 4183px;
  margin-top: 47px;
  position: relative;
  width: 1920px;
}

.forms-u38-documents .rectangle-51 {
  background-color: var(--white);
  height: 847px;
  left: 0;
  position: absolute;
  top: 3336px;
  width: 1920px;
}

.forms-u38-documents .rectangle-19 {
  height: 3448px;
  left: 118px;
  position: absolute;
  top: 0;
  width: 1638px;
}

.forms-u38-documents .we-are-committed-to {
  left: 152px;
  letter-spacing: 0.48px;
  line-height: 33.2px;
  position: absolute;
  top: 277px;
  width: 820px;
}

.forms-u38-documents .access-all-the-essen {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: 40px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 58px;
  width: 841px;
}

.forms-u38-documents .span {
  color: var(--eerie-black);
  font-weight: 500;
}

.forms-u38-documents .span-1 {
  color: var(--gigas);
  font-weight: 700;
}

.forms-u38-documents .span-2 {
  color: var(--gigas);
  font-weight: 600;
}

.forms-u38-documents .rectangle-156 {
  background-color: #552e8f0f;
  border: 1px solid;
  border-color: #cfcfcf;
  border-radius: 10px;
  height: 3397px;
  left: 1086px;
  position: absolute;
  top: 26px;
  width: 598px;
}

.forms-u38-documents .ue-campus {
  height: 34px;
  left: 1274px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 185px;
  width: 244px;
}

.forms-u38-documents .image-47 {
  height: 100px;
  left: 1348px;
  top: 79px;
  width: 100px;
}

.forms-u38-documents .qualifi-diplomapdf {
  height: 44px;
  left: 1292px;
  top: 949px;
  width: 209px;
}

.forms-u38-documents .image-48 {
  height: 100px;
  left: 1340px;
  top: 798px;
  width: 100px;
}

.forms-u38-documents .qualifi-diploma {
  height: 64px;
  left: 1272px;
  top: 892px;
  width: 244px;
}

.forms-u38-documents .bachelors-ppapdf {
  height: 22px;
  left: 1306px;
  top: 1663px;
  width: 181px;
}

.forms-u38-documents .image-49 {
  height: 100px;
  left: 1340px;
  top: 1518px;
  width: 100px;
}

.forms-u38-documents .bachelors {
  height: 64px;
  left: 1328px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1610px;
  width: 136px;
}

.forms-u38-documents .masters-ppapdf {
  height: 22px;
  left: 1305px;
  top: 1372px;
  width: 162px;
}

.forms-u38-documents .image-50 {
  height: 100px;
  left: 1340px;
  top: 1228px;
  width: 100px;
}

.forms-u38-documents .masters {
  height: 64px;
  left: 1331px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1318px;
  width: 111px;
}

.forms-u38-documents .qualifi-diploma-1 {
  height: 89px;
  left: 1272px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 673px;
  width: 237px;
}

.forms-u38-documents .line-7 {
  left: 1269px;
  top: 1079px;
  width: 240px;
}

.forms-u38-documents .pole-paris-alternance {
  height: 89px;
  left: 1229px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1094px;
  width: 323px;
}

.forms-u38-documents .doctorate-ppapdf {
  height: 22px;
  left: 1301px;
  top: 1939px;
  width: 183px;
}

.forms-u38-documents .image-51 {
  height: 100px;
  left: 1340px;
  top: 1796px;
  width: 100px;
}

.forms-u38-documents .doctorate {
  height: 64px;
  left: 1270px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1886px;
  width: 244px;
}

.forms-u38-documents .bachelors-walshpdf {
  height: 22px;
  left: 1289px;
  top: 2358px;
  width: 203px;
}

.forms-u38-documents .image-52 {
  height: 100px;
  left: 1337px;
  top: 2213px;
  width: 100px;
}

.forms-u38-documents .bachelors-1 {
  height: 64px;
  left: 1265px;
  top: 2303px;
  width: 244px;
}

.forms-u38-documents .masters-walshpdf {
  height: 22px;
  left: 1304px;
  top: 2659px;
  width: 184px;
}

.forms-u38-documents .image-53 {
  height: 100px;
  left: 1342px;
  top: 2514px;
  width: 100px;
}

.forms-u38-documents .masters-1 {
  height: 64px;
  left: 1270px;
  top: 2605px;
  width: 244px;
}

.forms-u38-documents .line-7-1 {
  height: 6px;
  left: 152px;
  position: absolute;
  top: 231px;
  width: 383px;
}

.forms-u38-documents .step-1-download-your-application-forms {
  color: transparent;
  font-family: var(--font-family-manrope);
  font-size: 30px;
  font-weight: 800;
  height: 89px;
  left: 148px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 393px;
  width: 602px;
}

.forms-u38-documents .span1 {
  color: var(--eerie-black);
}

.forms-u38-documents .application-form-beg {
  left: 148px;
  letter-spacing: 0.48px;
  line-height: 33.2px;
  position: absolute;
  top: 499px;
  width: 841px;
}

.forms-u38-documents .span-3 {
  letter-spacing: 0.12px;
}

.forms-u38-documents .step-2-submit-your {
  color: transparent;
  font-family: var(--font-family-manrope);
  font-size: 30px;
  font-weight: 800;
  height: 89px;
  left: 152px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1170px;
  width: 657px;
}

.forms-u38-documents .email-submission-se {
  left: 154px;
  letter-spacing: 0.48px;
  line-height: 33.2px;
  position: absolute;
  top: 1280px;
  width: 863px;
}

.forms-u38-documents .busy-professional-apply-online {
  height: 89px;
  left: 148px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1677px;
  width: 505px;
}

.forms-u38-documents .we-understand-that-l {
  left: 163px;
  letter-spacing: 0.48px;
  line-height: 33.2px;
  position: absolute;
  top: 1783px;
  width: 843px;
}

.forms-u38-documents .span-4 {
  color: var(--black-3);
  font-family: var(--font-family-lexend);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0.12px;
}

.forms-u38-documents .line-8 {
  left: 185px;
  top: 1658px;
  width: 797px;
}

.forms-u38-documents .forms-documents {
  height: 89px;
  left: 1143px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 371px;
  width: 497px;
}

.forms-u38-documents .this-is-what-your-di {
  left: 1143px;
  letter-spacing: 0.48px;
  line-height: 33.2px;
  position: absolute;
  text-align: center;
  top: 448px;
  width: 508px;
}

.forms-u38-documents .image-48-1 {
  height: 316px;
  left: 1236px;
  top: 21px;
  width: 316px;
}

.forms-u38-documents .line-7-2 {
  height: 1px;
  left: 1274px;
  object-fit: cover;
  position: absolute;
  top: 364px;
  width: 239px;
}

.forms-u38-documents .line-9 {
  left: 1265px;
  top: 650px;
  width: 239px;
}

.forms-u38-documents .line-8-1 {
  height: 1px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 1156px;
  width: 794px;
}

.forms-u38-documents .image-49-1 {
  height: 316px;
  left: 1230px;
  top: 735px;
  width: 316px;
}

.forms-u38-documents .image-49-2 {
  height: 318px;
  left: 1233px;
  top: 1151px;
  width: 318px;
}

.forms-u38-documents .image-49-3 {
  height: 318px;
  left: 1234px;
  top: 1449px;
  width: 318px;
}

.forms-u38-documents .image-49-4 {
  height: 318px;
  left: 1232px;
  top: 1737px;
  width: 318px;
}

.forms-u38-documents .line-7-3 {
  height: 1px;
  left: 1265px;
  object-fit: cover;
  position: absolute;
  top: 2076px;
  width: 239px;
}

.forms-u38-documents .surname {
  height: 89px;
  left: 1268px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 2084px;
  width: 236px;
}

.forms-u38-documents .image-49-5 {
  height: 318px;
  left: 1228px;
  top: 2145px;
  width: 318px;
}

.forms-u38-documents .image-49-6 {
  height: 318px;
  left: 1230px;
  top: 2455px;
  width: 318px;
}

.forms-u38-documents .doctorate-walshpdf {
  height: 22px;
  left: 1290px;
  top: 2975px;
  white-space: nowrap;
}

.forms-u38-documents .image-48-2 {
  height: 100px;
  left: 1338px;
  top: 2827px;
  width: 100px;
}

.forms-u38-documents .doctorate-1 {
  height: 64px;
  left: 1266px;
  top: 2921px;
  width: 243px;
}

.forms-u38-documents .image-49-7 {
  height: 318px;
  left: 1226px;
  top: 2756px;
  width: 318px;
}

.forms-u38-documents .line-7-4 {
  height: 1px;
  left: 1266px;
  object-fit: cover;
  position: absolute;
  top: 3115px;
  width: 239px;
}

.forms-u38-documents .rectangle-86 {
  background-color: var(--gallery);
  height: 490px;
  left: 0;
  position: absolute;
  top: 3587px;
  width: 1920px;
}

.forms-u38-documents .x1-9d8512e0-removebg-preview-2 {
  left: 62px;
  position: absolute;
  top: 3661px;
}

.forms-u38-documents .at-ue-campus-we-unde {
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3759px;
  width: 497px;
}

.forms-u38-documents .courses {
  left: 633px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3660px;
  width: 76px;
}

.forms-u38-documents .facebook {
  height: 50px;
  left: 336px;
  position: absolute;
  top: 3871px;
  width: 50px;
}

.forms-u38-documents .ellipse-9 {
  left: 62px;
}

.forms-u38-documents .ellipse-10 {
  left: 172px;
}

.forms-u38-documents .ellipse-11 {
  left: 227px;
}

.forms-u38-documents .instagram-circle {
  height: 50px;
  left: 279px;
  position: absolute;
  top: 3871px;
  width: 50px;
}

.forms-u38-documents .twitter-x {
  height: 25px;
  left: 234px;
  position: absolute;
  top: 3883px;
  width: 25px;
}

.forms-u38-documents .linked-in-circled {
  height: 50px;
  left: 112px;
  position: absolute;
  top: 3871px;
  width: 50px;
}

.forms-u38-documents .you-tube {
  height: 25px;
  left: 69px;
  position: absolute;
  top: 3883px;
  width: 25px;
}

.forms-u38-documents .tik-tok {
  height: 25px;
  left: 179px;
  position: absolute;
  top: 3883px;
  width: 25px;
}

.forms-u38-documents .rectangle-87 {
  background-color: var(--alto);
  height: 61px;
  left: 0;
  position: absolute;
  top: 4016px;
  width: 1920px;
}

.forms-u38-documents .copyright-2024-ue-c {
  left: 666px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4035px;
}

.forms-u38-documents .bachelors-masters-dba {
  left: 633px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3704px;
}

.forms-u38-documents .apply {
  left: 633px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3805px;
  width: 76px;
}

.forms-u38-documents .fees-apply-now {
  left: 633px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3849px;
}

.forms-u38-documents .programs {
  left: 804px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3662px;
  width: 92px;
}

.forms-u38-documents .ppa-walsh-college-diploma {
  left: 804px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3706px;
}

.forms-u38-documents .online-study {
  left: 804px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3807px;
  width: 122px;
}

.forms-u38-documents .online-degrees-online-lms {
  left: 804px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3851px;
}

.forms-u38-documents .about-us {
  left: 1021px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3662px;
  width: 148px;
}

.forms-u38-documents .about-us-faq-accredi {
  left: 1021px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3704px;
}

.forms-u38-documents .contact-us {
  left: 1220px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3662px;
  width: 148px;
}

.forms-u38-documents .infouecampuscom-1 {
  left: 1255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3707px;
}

.forms-u38-documents .phone-2 {
  left: 1255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3743px;
}

.forms-u38-documents .envelope {
  height: 25px;
  left: 1220px;
  position: absolute;
  top: 3706px;
  width: 25px;
}

.forms-u38-documents .newsletter {
  left: 1542px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3662px;
  width: 148px;
}

.forms-u38-documents .phone-3 {
  height: 25px;
  left: 1220px;
  position: absolute;
  top: 3742px;
  width: 25px;
}

.forms-u38-documents .image-31 {
  height: 140px;
  left: 1220px;
  top: 3781px;
  width: 272px;
}

.forms-u38-documents .rectangle-88 {
  background-color: var(--white);
  border-radius: 5px;
  height: 39px;
  left: 1542px;
  position: absolute;
  top: 3705px;
  width: 316px;
}

.forms-u38-documents .rectangle-89 {
  background-color: var(--royal-purple);
  border-radius: 5px;
  height: 39px;
  left: 1763px;
  position: absolute;
  top: 3705px;
  width: 95px;
}

.forms-u38-documents .rectangle-94 {
  background-color: var(--royal-purple);
  height: 39px;
  left: 1763px;
  position: absolute;
  top: 3705px;
  width: 9px;
}

.forms-u38-documents .sign-up {
  left: 1781px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3713px;
  width: 60px;
}

.forms-u38-documents .insert-email {
  left: 1556px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3713px;
  width: 126px;
}

.forms-u38-documents .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 3041px;
  min-height: 3669px;
  width: 1530px;
}

.forms-u38-documents .group-373 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 59px;
  min-height: 171px;
  width: 472px;
}

.forms-u38-documents .overlap-group {
  height: 53px;
  position: relative;
  width: 275px;
}

.forms-u38-documents .name {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.forms-u38-documents .flex-row {
  align-items: center;
  display: flex;
  gap: 194px;
  min-width: 464px;
}

.forms-u38-documents .overlap-group-1 {
  align-items: center;
  background-color: var(--hint-of-red);
  display: flex;
  height: 38px;
  min-width: 38px;
  padding: 0 8px;
}

.forms-u38-documents .group-container {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  min-width: 1530px;
}

.forms-u38-documents .group-356 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  height: 457px;
  width: 490px;
}

.forms-u38-documents .group-33 {
  height: 238px;
  margin-left: -1423px;
  margin-top: 3190px;
  width: 464px;
}

.forms-u38-documents .group-357 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  gap: 973px;
  height: 457px;
  width: 490px;
}

.forms-u38-documents .group-354 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 267px;
  min-height: 171px;
  width: 472px;
}

.forms-u38-documents .group-358 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  gap: 972px;
  height: 457px;
  width: 490px;
}

.forms-u38-documents .bachelors-2 {
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
}

.forms-u38-documents .doctorate-2 {
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
}

.forms-u38-documents .ellipse {
  background-color: var(--royal-purple);
  border-radius: 20px;
  height: 40px;
  position: absolute;
  top: 3876px;
  width: 40px;
}

.forms-u38-documents .image {
  object-fit: cover;
  position: absolute;
}

.forms-u38-documents .image-48-3 {
  object-fit: cover;
  position: absolute;
}

.forms-u38-documents .image-49-8 {
  object-fit: cover;
  position: absolute;
}

.forms-u38-documents .line {
  height: 1px;
  object-fit: cover;
  position: absolute;
}

.forms-u38-documents .masters-2 {
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
}

.forms-u38-documents .navbar-link {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.31px;
  min-height: 22px;
}

.forms-u38-documents .qualifi {
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
}

.forms-u38-documents .x1-9d8512e0-removebg-preview {
  height: 83px;
  object-fit: cover;
  width: 180px;
}
