/* screen - ppa-bba-in-marketing */

.ppa-bba-in-marketing {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5008px;
  overflow: hidden;
  width: 1920px;
}

.ppa-bba-in-marketing .overlap-group18 {
  align-items: center;
  background-color: var(--royal-purple);
  display: flex;
  height: 45px;
  min-width: 1920px;
  padding: 0 62px;
}

.ppa-bba-in-marketing .have-any-questions {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 22px;
  min-width: 195px;
}

.ppa-bba-in-marketing .email {
  height: 25px;
  margin-left: 34px;
  width: 25px;
}

.ppa-bba-in-marketing .infouecampuscom {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 10px;
  min-height: 22px;
  min-width: 157px;
}

.ppa-bba-in-marketing .phone {
  height: 25px;
  margin-left: 21px;
  width: 25px;
}

.ppa-bba-in-marketing .phone-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 11px;
  min-height: 22px;
  min-width: 128px;
}

.ppa-bba-in-marketing .navbar {
  align-items: center;
  align-self: center;
  display: flex;
  margin-top: 5px;
  min-width: 1796px;
}

.ppa-bba-in-marketing .navbar-link-programs {
  min-width: 92px;
}

.ppa-bba-in-marketing .sort-left {
  height: 15px;
  margin-left: 6px;
  margin-top: 1.69px;
  width: 15px;
}

.ppa-bba-in-marketing .navbar-link-diplomas {
  margin-left: 33px;
  min-width: 90px;
}

.ppa-bba-in-marketing .navbar-link-about-us {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.31px;
  margin-left: 38px;
  min-height: 22px;
  min-width: 88px;
}

.ppa-bba-in-marketing .navbar-link-scholarships {
  margin-left: 38px;
  min-width: 121px;
}

.ppa-bba-in-marketing .x1-9d8512e0-removebg-preview-1 {
  height: 83px;
  margin-left: 245px;
  object-fit: cover;
  width: 180px;
}

.ppa-bba-in-marketing .navbar-link-login {
  margin-left: 561px;
  min-width: 54px;
}

.ppa-bba-in-marketing .overlap-group17 {
  align-items: flex-start;
  background-color: var(--bright-gray);
  border-radius: 10px;
  display: flex;
  height: 49px;
  margin-left: 33px;
  margin-top: 1.69px;
  min-width: 160px;
  padding: 12px 40px;
}

.ppa-bba-in-marketing .place {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.ppa-bba-in-marketing .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -1602px;
  margin-top: 4px;
  min-height: 4941px;
  width: 3555px;
}

.ppa-bba-in-marketing .rectangle-6 {
  background-color: var(--royal-purple);
  height: 3px;
  margin-left: 33px;
  width: 1920px;
}

.ppa-bba-in-marketing .group-container {
  align-items: flex-end;
  display: flex;
  min-width: 3555px;
}

.ppa-bba-in-marketing .overlap-group19 {
  height: 4938px;
  position: relative;
  width: 2001px;
}

.ppa-bba-in-marketing .group-453 {
  height: 329px;
  left: 33px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.ppa-bba-in-marketing .bba-in-marketing {
  height: 114px;
  left: 582px;
  letter-spacing: 1.40px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 896px;
}

.ppa-bba-in-marketing .text-4 {
  color: #ff8e13;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-weight: 800;
  left: 351px;
  letter-spacing: 0.64px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 164px;
  white-space: nowrap;
}

.ppa-bba-in-marketing .x47-253-user-ratings {
  left: 56px;
  letter-spacing: 0.48px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 164px;
  white-space: nowrap;
  width: 295px;
}

.ppa-bba-in-marketing .pole-paris-alterance {
  left: 111px;
  letter-spacing: 0.48px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 229px;
  white-space: nowrap;
}

.ppa-bba-in-marketing .span0 {
  letter-spacing: 0.12px;
}

.ppa-bba-in-marketing .image-13 {
  height: 26px;
  left: 375px;
  top: 257px;
  width: 45px;
}

.ppa-bba-in-marketing .image-14 {
  height: 23px;
  left: 57px;
  top: 257px;
  width: 45px;
}

.ppa-bba-in-marketing .group-289559 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 4616px;
  padding: 0 33px;
  position: absolute;
  top: 322px;
  width: 2001px;
}

.ppa-bba-in-marketing .flex-col-1 {
  margin-right: 98.0px;
  min-height: 777px;
  width: 1719px;
}

.ppa-bba-in-marketing .price {
  letter-spacing: 0.70px;
  line-height: 80px;
  margin-bottom: -44px;
  margin-left: 176px;
  min-height: 36px;
  white-space: nowrap;
}

.ppa-bba-in-marketing .overlap-group7 {
  height: 188px;
  margin-top: 29px;
  position: relative;
  width: 351px;
}

.ppa-bba-in-marketing .the-bba-in-marketing {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 116px;
  width: 1700px;
}

.ppa-bba-in-marketing .eligibility {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 17px;
  margin-top: 72px;
  min-height: 77px;
  white-space: nowrap;
}

.ppa-bba-in-marketing .overlap-group9 {
  align-self: flex-end;
  height: 203px;
  margin-top: 56px;
  position: relative;
  width: 1700px;
}

.ppa-bba-in-marketing .image-18 {
  height: 24px;
  left: 0;
  top: 59px;
  width: 32px;
}

.ppa-bba-in-marketing .image-19 {
  height: 24px;
  left: 0;
  top: 111px;
  width: 32px;
}

.ppa-bba-in-marketing .image-20 {
  height: 24px;
  left: 0;
  top: 86px;
  width: 32px;
}

.ppa-bba-in-marketing .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 129px;
  height: 1756px;
  margin-left: 18.0px;
  margin-top: 100px;
  min-width: 1797px;
}

.ppa-bba-in-marketing .flex-col-2 {
  min-height: 1756px;
  width: 938px;
}

.ppa-bba-in-marketing .course-units {
  letter-spacing: 0;
  line-height: normal;
  min-height: 77px;
  white-space: nowrap;
}

.ppa-bba-in-marketing .overlap-group12 {
  border-radius: 10px;
  height: 60px;
  margin-left: 9px;
  margin-top: 31px;
  position: relative;
  width: 887px;
}

.ppa-bba-in-marketing .overlap-group {
  align-items: flex-start;
  background-color: var(--bright-gray);
  border-radius: 10px;
  display: flex;
  height: 60px;
  left: 0;
  min-width: 887px;
  padding: 12px 32px;
  position: absolute;
  top: 0;
}

.ppa-bba-in-marketing .level {
  letter-spacing: 0;
  line-height: normal;
  min-height: 32px;
  white-space: nowrap;
}

.ppa-bba-in-marketing .image-26 {
  height: 37px;
  left: 840px;
  top: 6px;
  width: 34px;
}

.ppa-bba-in-marketing .overlap-group14 {
  border-radius: 33.17px;
  height: 326px;
  margin-top: 42px;
  position: relative;
  width: 906px;
}

.ppa-bba-in-marketing .image-21 {
  height: 33px;
  left: 36px;
  top: 85px;
  width: 42px;
}

.ppa-bba-in-marketing .image-22 {
  height: 33px;
  left: 36px;
  top: 162px;
  width: 42px;
}

.ppa-bba-in-marketing .image-23 {
  height: 33px;
  left: 36px;
  top: 236px;
  width: 42px;
}

.ppa-bba-in-marketing .frame {
  align-items: center;
  background-color: var(--white);
  border: 1.31px solid;
  border-color: var(--licorice);
  border-radius: 33.17px;
  display: flex;
  flex-direction: column;
  gap: 13.82px;
  height: 326px;
  justify-content: center;
  left: 0;
  padding: 66.35px;
  position: absolute;
  top: 0;
  width: 906px;
}

.ppa-bba-in-marketing .flex-col-3 {
  left: -52px;
  min-height: 279px;
  position: relative;
  top: -9px;
  width: 788px;
}

.ppa-bba-in-marketing .european-credit-ects-60 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 14px;
  white-space: nowrap;
  width: 182px;
}

.ppa-bba-in-marketing .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 168px;
  height: 14px;
  margin-left: 11.5px;
  margin-top: 8px;
  min-width: 506px;
}

.ppa-bba-in-marketing .unit-name {
  letter-spacing: 0;
  line-height: normal;
  min-height: 14px;
  white-space: nowrap;
  width: 138px;
}

.ppa-bba-in-marketing .uk-credit-rqf-120 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 14px;
  white-space: nowrap;
}

.ppa-bba-in-marketing .table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 228px;
  margin-top: 15px;
  position: relative;
  width: 697px;
}

.ppa-bba-in-marketing .table-row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.ppa-bba-in-marketing .row-content-1 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1.38px;
  border-color: var(--big-stone-2);
  border-top-style: solid;
  border-top-width: 1.38px;
  display: flex;
  gap: 88.46px;
  height: 76px;
  padding: 22.12px 11.06px;
  position: relative;
  width: 100%;
}

.ppa-bba-in-marketing .frame-143-1 {
  align-items: center;
  display: flex;
  gap: 88.46px;
  margin-bottom: -7.12px;
  margin-top: -7.12px;
  position: relative;
  width: 642px;
}

.ppa-bba-in-marketing .frame-76 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 88.46px;
  justify-content: flex-end;
  margin-right: -117.67px;
  position: relative;
}

.ppa-bba-in-marketing .row-content {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1.38px;
  border-color: var(--big-stone-2);
  display: flex;
  gap: 88.46px;
  height: 76px;
  padding: 22.12px 11.06px;
  position: relative;
  width: 100%;
}

.ppa-bba-in-marketing .frame-143 {
  align-items: center;
  display: flex;
  gap: 88.46px;
  position: relative;
  width: 653px;
}

.ppa-bba-in-marketing .frame-76-1 {
  height: 24.88px;
  margin-right: -106.67px;
}

.ppa-bba-in-marketing .frame-76-2 {
  margin-right: -107.67px;
}

.ppa-bba-in-marketing .overlap-group8 {
  align-self: center;
  border-radius: 10px;
  height: 60px;
  margin-right: 24.59px;
  margin-top: 42px;
  position: relative;
  width: 887px;
}

.ppa-bba-in-marketing .image-24 {
  height: 37px;
  left: 836px;
  top: 12px;
  width: 34px;
}

.ppa-bba-in-marketing .overlap-group15 {
  align-self: center;
  border-radius: 10px;
  height: 60px;
  margin-right: 24.59px;
  margin-top: 29px;
  position: relative;
  width: 887px;
}

.ppa-bba-in-marketing .image-25 {
  height: 37px;
  left: 836px;
  top: 13px;
  width: 34px;
}

.ppa-bba-in-marketing .the-bba-in-marketing-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 59px;
  min-height: 841px;
  width: 919px;
}

.ppa-bba-in-marketing .overlap-group-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 86px;
  margin-bottom: 6.0px;
  min-height: 1692px;
  width: 730px;
}

.ppa-bba-in-marketing .overlap-group11 {
  border-radius: 14px;
  height: 1055px;
  margin-right: 6.0px;
  position: relative;
  width: 600px;
}

.ppa-bba-in-marketing .overlap-group1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1055px;
  padding: 20.6px 15.9px;
  position: absolute;
  top: 0;
  width: 600px;
}

.ppa-bba-in-marketing .group-345 {
  height: 24px;
  margin-right: 44.51px;
  margin-top: 32px;
  width: 64px;
}

.ppa-bba-in-marketing .overlap-group-2 {
  align-items: flex-end;
  background-color: var(--bright-gray);
  border-radius: 15px;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-right: 16.09px;
  margin-top: 29px;
  min-width: 543px;
  padding: 16px 114px;
}

.ppa-bba-in-marketing .overlap-group2-1 {
  align-items: flex-end;
  background-color: var(--bright-gray);
  border-radius: 15px;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-right: 16.09px;
  margin-top: 22px;
  min-width: 543px;
  padding: 18px 141px;
}

.ppa-bba-in-marketing .group-344 {
  align-self: center;
  display: flex;
  height: 43px;
  margin-right: 4.39px;
  margin-top: 21px;
  width: 458px;
}

.ppa-bba-in-marketing .group-343 {
  display: flex;
  gap: 7.3px;
  height: 37.88px;
  margin-top: 5.4px;
  width: 143.93px;
}

.ppa-bba-in-marketing .time-svgrepo-com-1 {
  height: 27.94px;
  width: 23.25px;
}

.ppa-bba-in-marketing .x22hr-30min {
  height: 35.29px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 2.6px;
  width: 111.34px;
}

.ppa-bba-in-marketing .group-342 {
  display: flex;
  gap: 8.6px;
  height: 43.23px;
  margin-left: 15.1px;
  width: 156.17px;
}

.ppa-bba-in-marketing .video-svgrepo-com-1 {
  height: 41.17px;
  width: 34.26px;
}

.ppa-bba-in-marketing .address {
  height: 35.29px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 7.9px;
  width: 111.34px;
}

.ppa-bba-in-marketing .group-341 {
  display: flex;
  gap: 9px;
  height: 35.88px;
  margin-left: 17.1px;
  margin-top: 7.4px;
  width: 127.25px;
}

.ppa-bba-in-marketing .download-svgrepo-com-1 {
  height: 26.47px;
  width: 22.02px;
}

.ppa-bba-in-marketing .address-1 {
  height: 35.29px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0.6px;
  width: 94.21px;
}

.ppa-bba-in-marketing .line-1 {
  height: 2px;
  margin-right: 18.09px;
  margin-top: 85px;
  object-fit: cover;
  width: 517px;
}

.ppa-bba-in-marketing .image-27 {
  height: 100px;
  left: 249px;
  top: 146px;
  width: 100px;
}

.ppa-bba-in-marketing .price-1 {
  left: 158px;
  letter-spacing: 0.70px;
  line-height: 80px;
  position: absolute;
  top: 374px;
  white-space: nowrap;
  width: 72px;
}

.ppa-bba-in-marketing .price-2 {
  left: 23px;
  letter-spacing: 0.64px;
  line-height: 80px;
  position: absolute;
  top: 375px;
  width: 127px;
}

.ppa-bba-in-marketing .update-april-2-2024 {
  left: 23px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 722px;
  width: 528px;
}

.ppa-bba-in-marketing .line-1-1 {
  height: 2px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 840px;
  width: 517px;
}

.ppa-bba-in-marketing .overlap-group13 {
  height: 551px;
  position: relative;
  width: 730px;
}

.ppa-bba-in-marketing .rectangle-3873 {
  height: 551px;
  left: 0;
  position: absolute;
  top: 0;
  width: 684px;
}

.ppa-bba-in-marketing .fee-payment-plans {
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 39px;
  white-space: nowrap;
  width: 691px;
}

.ppa-bba-in-marketing .investment-in-your-f {
  color: #ffffffc4;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 176px;
  width: 573px;
}

.ppa-bba-in-marketing .choose-pricing-plan {
  letter-spacing: 1.28px;
  line-height: 107.2px;
  margin-left: 23.0px;
  margin-top: 158px;
  min-height: 60px;
  white-space: nowrap;
  width: 630px;
}

.ppa-bba-in-marketing .span {
  letter-spacing: 0.82px;
}

.ppa-bba-in-marketing .overlap-group16 {
  align-items: flex-start;
  background-image: url(../img/rectangle-38-5.png);
  background-size: 100% 100%;
  display: flex;
  height: 79px;
  margin-left: 27.0px;
  margin-top: 49px;
  min-width: 1142px;
  padding: 21px 56px;
}

.ppa-bba-in-marketing .overlap-group10 {
  align-self: flex-start;
  height: 1502px;
  margin-top: 65px;
  position: relative;
  width: 1920px;
}

.ppa-bba-in-marketing .overlap-group6 {
  height: 1502px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.ppa-bba-in-marketing .group-289556 {
  height: 64px;
  left: 842px;
  position: absolute;
  top: 336px;
  width: 296px;
}

.ppa-bba-in-marketing .price-list-3 {
  height: 814px;
  left: 1174px;
  width: 393px;
}

.ppa-bba-in-marketing .overlap-group-3 {
  height: 806px;
  left: 806px;
  position: absolute;
  top: 0;
  width: 429px;
}

.ppa-bba-in-marketing .rectangle-4469 {
  background-color: var(--bright-gray);
  border-radius: 15px;
  box-shadow: 0px 44px 64px #4876ea4c;
  height: 786px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 365px;
}

.ppa-bba-in-marketing .mask-group {
  height: 806px;
  left: 0;
  position: absolute;
  top: 0;
  width: 429px;
}

.ppa-bba-in-marketing .check-circle-1 {
  height: 21px;
  left: 37px;
  position: absolute;
  top: 462px;
  width: 21px;
}

.ppa-bba-in-marketing .all-limited-links {
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 462px;
  width: 224px;
}

.ppa-bba-in-marketing .check-circle-1-1 {
  top: 512px;
}

.ppa-bba-in-marketing .own-analytics-platfo {
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 511px;
  width: 229px;
}

.ppa-bba-in-marketing .check-circle-1-2 {
  top: 562px;
}

.ppa-bba-in-marketing .chat-support {
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 563px;
  width: 216px;
}

.ppa-bba-in-marketing .check-circle-1-3 {
  top: 612px;
}

.ppa-bba-in-marketing .optimize-hashtags {
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 610px;
  width: 197px;
}

.ppa-bba-in-marketing .intro {
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 69px;
  width: 278px;
}

.ppa-bba-in-marketing .x20 {
  left: 73px;
  letter-spacing: 0;
  line-height: 46px;
  position: absolute;
  top: 202px;
  white-space: nowrap;
  width: 167px;
}

.ppa-bba-in-marketing .for-most-businesses {
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 151px;
  width: 95px;
}

.ppa-bba-in-marketing .price-list-1 {
  height: 1492px;
  left: 0;
  width: 1920px;
}

.ppa-bba-in-marketing .frame-1 {
  align-items: center;
  background-color: var(--gigas);
  border-radius: 15px;
  display: flex;
  height: 64px;
  left: 842px;
  overflow: hidden;
  position: absolute;
  top: 353px;
  width: 296px;
}

.ppa-bba-in-marketing .choose-plan {
  flex: 1;
  height: 26px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 23.94%;
  margin-right: 23.8%;
  margin-top: 0.1px;
  text-align: center;
  width: 154.7px;
}

.ppa-bba-in-marketing .image-45 {
  height: 26px;
  left: 857px;
  top: 701px;
  width: 261px;
}

.ppa-bba-in-marketing .rectangle-56 {
  height: 45px;
  left: 459px;
  position: absolute;
  top: 271px;
  width: 227px;
}

.ppa-bba-in-marketing .total-fee-6600 {
  left: 491px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 282px;
  width: 247px;
}

.ppa-bba-in-marketing .rectangle-57 {
  height: 45px;
  left: 835px;
  position: absolute;
  top: 271px;
  width: 226px;
}

.ppa-bba-in-marketing .total-fee-6600-1 {
  left: 871px;
  width: 247px;
}

.ppa-bba-in-marketing .total-fee-6600-2 {
  left: 1259px;
  width: 157px;
}

.ppa-bba-in-marketing .rectangle-58 {
  height: 45px;
  left: 1220px;
  position: absolute;
  top: 270px;
  width: 227px;
}

.ppa-bba-in-marketing .frame-2 {
  align-items: center;
  background-color: var(--bright-gray);
  border-radius: 15px;
  display: flex;
  height: 64px;
  left: 1223px;
  overflow: hidden;
  position: absolute;
  top: 353px;
  width: 296px;
}

.ppa-bba-in-marketing .month {
  left: 1038px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 215px;
  white-space: nowrap;
  width: 107px;
}

.ppa-bba-in-marketing .month-1 {
  left: 1421px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 219px;
  white-space: nowrap;
  width: 106px;
}

.ppa-bba-in-marketing .price-3 {
  left: 853px;
  letter-spacing: 0;
  line-height: 46px;
  position: absolute;
  top: 208px;
  white-space: nowrap;
  width: 35px;
}

.ppa-bba-in-marketing .price-4 {
  left: 1237px;
  letter-spacing: 0;
  line-height: 46px;
  position: absolute;
  top: 208px;
  white-space: nowrap;
  width: 35px;
}

.ppa-bba-in-marketing .group-357 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  gap: 3453px;
  height: 457px;
  margin-bottom: 153px;
  margin-left: 544px;
  width: 490px;
}

.ppa-bba-in-marketing .group-33 {
  height: 238px;
  margin-left: -3903px;
  margin-top: -2894px;
  width: 464px;
}

.ppa-bba-in-marketing .group-354 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 267px;
  min-height: 171px;
  width: 472px;
}

.ppa-bba-in-marketing .overlap-group2 {
  height: 53px;
  position: relative;
  width: 275px;
}

.ppa-bba-in-marketing .name {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.ppa-bba-in-marketing .flex-row {
  align-items: center;
  display: flex;
  gap: 194px;
  min-width: 464px;
}

.ppa-bba-in-marketing .overlap-group-1 {
  align-items: center;
  background-color: var(--hint-of-red);
  display: flex;
  height: 38px;
  min-width: 38px;
  padding: 0 8px;
}

.ppa-bba-in-marketing .group-358 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  gap: 3452px;
  height: 457px;
  margin-bottom: 153px;
  margin-left: 30px;
  width: 490px;
}

.ppa-bba-in-marketing .check-circle-1-4 {
  height: 21px;
  left: 37px;
  position: absolute;
  width: 21px;
}

.ppa-bba-in-marketing .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.ppa-bba-in-marketing .frame-76-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 88.46px;
  justify-content: flex-end;
  position: relative;
}

.ppa-bba-in-marketing .image {
  object-fit: cover;
  position: absolute;
}

.ppa-bba-in-marketing .navbar-link {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.31px;
  min-height: 22px;
}

.ppa-bba-in-marketing .price-list {
  position: absolute;
  top: 10px;
}

.ppa-bba-in-marketing .total-fee-6600-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 282px;
}
