/* screen - uecampus-website-design */

.uecampus-website-design {
  background-color: var(--white);
  height: 12310px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.uecampus-website-design .rectangle-36 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040 , 0px 4px 4px #00000040;
  height: 319px;
  left: 1419px;
  position: absolute;
  top: 2478px;
  width: 439px;
}

.uecampus-website-design .image-125 {
  height: 353px;
  left: 1419px;
  object-fit: cover;
  position: absolute;
  top: 2135px;
  width: 439px;
}

.uecampus-website-design .rectangle-35 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040 , 0px 4px 4px #00000040;
  height: 319px;
  left: 967px;
  position: absolute;
  top: 2478px;
  width: 439px;
}

.uecampus-website-design .image-123 {
  height: 353px;
  left: 967px;
  object-fit: cover;
  position: absolute;
  top: 2133px;
  width: 439px;
}

.uecampus-website-design .rectangle-94 {
  background-color: var(--royal-purple);
  border-radius: 10px;
  height: 791px;
  left: -28px;
  position: absolute;
  top: 8101px;
  width: 958px;
}

.uecampus-website-design .whats-app-image-2024-12-19-at-22945-am-1 {
  height: 264px;
  left: 1511px;
  object-fit: cover;
  position: absolute;
  top: 6384px;
  width: 220px;
}

.uecampus-website-design .passport-size-id-1 {
  height: 264px;
  left: 189px;
  position: absolute;
  top: 6384px;
  width: 220px;
}

.uecampus-website-design .rectangle-134 {
  background-color: var(--gallery);
  border-radius: 10px;
  height: 772px;
  left: 601px;
  position: absolute;
  top: 6130px;
  width: 717px;
}

.uecampus-website-design .image-82 {
  height: 264px;
  left: 1208px;
  object-fit: cover;
  position: absolute;
  top: 6384px;
  width: 220px;
}

.uecampus-website-design .passport-size-photo-1 {
  height: 264px;
  left: 492px;
  object-fit: cover;
  position: absolute;
  top: 6384px;
  width: 220px;
}

.uecampus-website-design .picture-1 {
  height: 396px;
  left: 795px;
  top: 6252px;
  width: 330px;
}

.uecampus-website-design .rectangle-42 {
  background-color: var(--gallery);
  height: 262px;
  left: 1045px;
  position: absolute;
  top: 4090px;
  width: 875px;
}

.uecampus-website-design .university-of-alabam {
  height: 308px;
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: 4065px;
  width: 1315px;
}

.uecampus-website-design .image-71 {
  height: 773px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3112px;
  width: 1921px;
}

.uecampus-website-design .image-71-1 {
  height: 925px;
  left: 0;
  top: 138px;
  width: 1920px;
}

.uecampus-website-design .x1-9d8512e0-removebg-preview-1 {
  height: 83px;
  left: 870px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 180px;
}

.uecampus-website-design .programs {
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
}

.uecampus-website-design .diplomas {
  left: 208px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
}

.uecampus-website-design .scholarships {
  left: 504px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
}

.uecampus-website-design .about-us {
  left: 357px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
}

.uecampus-website-design .login {
  left: 1611px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
}

.uecampus-website-design .rectangle-2 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 49px;
  left: 1698px;
  position: absolute;
  top: 68px;
  width: 160px;
}

.uecampus-website-design .place {
  left: 1738px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
}

.uecampus-website-design .sort-left {
  height: 15px;
  left: 160px;
  position: absolute;
  top: 85px;
  width: 15px;
}

.uecampus-website-design .sort-left-1 {
  left: 451px;
}

.uecampus-website-design .sort-left-2 {
  left: 304px;
}

.uecampus-website-design .rectangle-6 {
  background-color: var(--royal-purple);
  height: 3px;
  left: 0;
  position: absolute;
  top: 137px;
  width: 1920px;
}

.uecampus-website-design .rectangle-72 {
  background-color: var(--royal-purple);
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.uecampus-website-design .rectangle-46 {
  background-color: var(--bright-gray);
  height: 839px;
  left: 0;
  position: absolute;
  top: 7082px;
  width: 1920px;
}

.uecampus-website-design .email {
  height: 25px;
  left: 291px;
  position: absolute;
  top: 10px;
  width: 25px;
}

.uecampus-website-design .latest-updates-insights {
  left: 262px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 7340px;
}

.uecampus-website-design .rectangle-50 {
  background-color: var(--white);
  height: 9px;
  left: 725px;
  position: absolute;
  top: 7401px;
  width: 29px;
}

.uecampus-website-design .rectangle-71 {
  background-color: var(--royal-purple);
  height: 9px;
  left: 61px;
  position: absolute;
  top: 9139px;
  width: 86px;
}

.uecampus-website-design .rectangle-51 {
  background-color: var(--white);
  border-radius: 10px;
  height: 42px;
  left: 556px;
  position: absolute;
  top: 7511px;
  width: 95px;
}

.uecampus-website-design .rectangle-52 {
  background-color: var(--white);
  border-radius: 10px;
  height: 42px;
  left: 659px;
  position: absolute;
  top: 7510px;
  width: 95px;
}

.uecampus-website-design .rectangle-139 {
  background-color: var(--royal-purple);
  border-radius: 10px;
  height: 42px;
  left: 62px;
  position: absolute;
  top: 6495px;
  width: 95px;
}

.uecampus-website-design .rectangle-140 {
  background-color: var(--royal-purple);
  border-radius: 10px;
  height: 42px;
  left: 1763px;
  position: absolute;
  top: 6516px;
  width: 95px;
}

.uecampus-website-design .more-than {
  height: 21px;
  left: 1800px;
  position: absolute;
  top: 6527px;
  width: 22px;
}

.uecampus-website-design .more-than-1 {
  height: 21px;
  left: 99px;
  position: absolute;
  top: 6505px;
  width: 22px;
}

.uecampus-website-design .rectangle-53 {
  background-color: var(--gallery);
  height: 640px;
  left: 878px;
  position: absolute;
  top: 7182px;
  width: 445px;
}

.uecampus-website-design .rectangle-55 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040 , 0px 4px 4px #00000040;
  height: 594px;
  left: 900px;
  position: absolute;
  top: 7205px;
  width: 402px;
}

.uecampus-website-design .rectangle-54 {
  background-color: var(--gallery);
  height: 640px;
  left: 1347px;
  position: absolute;
  top: 7182px;
  width: 445px;
}

.uecampus-website-design .stay-updated-with-th {
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 7430px;
  width: 569px;
}

.uecampus-website-design .rectangle-56 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040 , 0px 4px 4px #00000040;
  height: 594px;
  left: 1369px;
  position: absolute;
  top: 7205px;
  width: 402px;
}

.uecampus-website-design .lack-of-face-to-face-interaction {
  left: 924px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7478px;
  width: 363px;
}

.uecampus-website-design .the-phrase-new-norm {
  left: 924px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7552px;
  width: 353px;
}

.uecampus-website-design .decoding-success-unveiling {
  left: 1390px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7478px;
  width: 363px;
}

.uecampus-website-design .an-organizations-st {
  left: 1390px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7552px;
  width: 353px;
}

.uecampus-website-design .rectangle-59 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 924px;
  position: absolute;
  top: 7698px;
  width: 177px;
}

.uecampus-website-design .read-more {
  left: 962px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7716px;
}

.uecampus-website-design .rectangle-60 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 1390px;
  position: absolute;
  top: 7698px;
  width: 177px;
}

.uecampus-website-design .read-more-1 {
  left: 1428px;
}

.uecampus-website-design .rectangle-74 {
  background-color: var(--gallery);
  height: 640px;
  left: 1816px;
  position: absolute;
  top: 7182px;
  width: 445px;
}

.uecampus-website-design .rectangle-75 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040 , 0px 4px 4px #00000040;
  height: 594px;
  left: 1838px;
  position: absolute;
  top: 7205px;
  width: 402px;
}

.uecampus-website-design .image-30 {
  height: 247px;
  left: 1838px;
  object-fit: cover;
  position: absolute;
  top: 7203px;
  width: 402px;
}

.uecampus-website-design .why-is-school-so-boring {
  left: 1859px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7478px;
  width: 363px;
}

.uecampus-website-design .have-you-ever-asked {
  left: 1859px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7552px;
  width: 353px;
}

.uecampus-website-design .rectangle-76 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 1859px;
  position: absolute;
  top: 7698px;
  width: 177px;
}

.uecampus-website-design .read-more-2 {
  left: 1897px;
}

.uecampus-website-design .affiliation-equival {
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9078px;
}

.uecampus-website-design .rectangle-86 {
  background-color: var(--gallery);
  height: 490px;
  left: 0;
  position: absolute;
  top: 11820px;
  width: 1920px;
}

.uecampus-website-design .image-24 {
  height: 119px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 9289px;
  width: 316px;
}

.uecampus-website-design .image-25 {
  height: 119px;
  left: 401px;
  object-fit: cover;
  position: absolute;
  top: 9289px;
  width: 369px;
}

.uecampus-website-design .image-26 {
  height: 119px;
  left: 794px;
  position: absolute;
  top: 9289px;
  width: 379px;
}

.uecampus-website-design .image-27 {
  height: 108px;
  left: 1197px;
  position: absolute;
  top: 9295px;
  width: 208px;
}

.uecampus-website-design .image-28 {
  height: 114px;
  left: 1429px;
  position: absolute;
  top: 9289px;
  width: 214px;
}

.uecampus-website-design .image-29 {
  height: 144px;
  left: 1667px;
  position: absolute;
  top: 9274px;
  width: 167px;
}

.uecampus-website-design .infouecampuscom {
  left: 326px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.uecampus-website-design .have-any-questions {
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.uecampus-website-design .phone {
  height: 25px;
  left: 504px;
  position: absolute;
  top: 10px;
  width: 25px;
}

.uecampus-website-design .phone-1 {
  left: 540px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.uecampus-website-design .rectangle-77 {
  background-color: var(--bright-gray);
  height: 1050px;
  left: 0;
  position: absolute;
  top: 9648px;
  width: 1921px;
}

.uecampus-website-design .frequently-asked-questions {
  left: 683px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 9825px;
}

.uecampus-website-design .rectangle-78 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 946px;
  position: absolute;
  top: 9888px;
  width: 29px;
}

.uecampus-website-design .rectangle-79 {
  background-color: var(--white);
  border-radius: 10px;
  height: 70px;
  left: 461px;
  position: absolute;
  top: 9939px;
  width: 1000px;
}

.uecampus-website-design .rectangle-80 {
  background-color: var(--gallery);
  border-radius: 10px;
  height: 146px;
  left: 461px;
  position: absolute;
  top: 9994px;
  width: 1000px;
}

.uecampus-website-design .name {
  left: 478px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9959px;
  width: 691px;
}

.uecampus-website-design .more-than-2 {
  height: 22px;
  left: 1414px;
  position: absolute;
  top: 9963px;
  width: 21px;
}

.uecampus-website-design .rectangle-82 {
  background-color: var(--white);
  border-radius: 10px;
  height: 70px;
  left: 461px;
  position: absolute;
  top: 10160px;
  width: 1000px;
}

.uecampus-website-design .do-we-provide-scholarships {
  left: 478px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10180px;
  width: 691px;
}

.uecampus-website-design .more-than-3 {
  height: 22px;
  left: 1414px;
  position: absolute;
  top: 10184px;
  width: 21px;
}

.uecampus-website-design .rectangle-83 {
  background-color: var(--white);
  border-radius: 10px;
  height: 70px;
  left: 461px;
  position: absolute;
  top: 10250px;
  width: 1000px;
}

.uecampus-website-design .can-working-professi {
  left: 478px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10270px;
  width: 691px;
}

.uecampus-website-design .more-than-4 {
  height: 22px;
  left: 1414px;
  position: absolute;
  top: 10274px;
  width: 21px;
}

.uecampus-website-design .rectangle-84 {
  background-color: var(--white);
  border-radius: 10px;
  height: 70px;
  left: 461px;
  position: absolute;
  top: 10340px;
  width: 1000px;
}

.uecampus-website-design .do-we-have-an-onsite {
  left: 478px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10360px;
  width: 691px;
}

.uecampus-website-design .more-than-5 {
  height: 22px;
  left: 1414px;
  position: absolute;
  top: 10364px;
  width: 21px;
}

.uecampus-website-design .rectangle-85 {
  background-color: var(--white);
  border-radius: 10px;
  height: 70px;
  left: 461px;
  position: absolute;
  top: 10430px;
  width: 1000px;
}

.uecampus-website-design .can-i-shift-my-credi {
  left: 478px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10450px;
  width: 788px;
}

.uecampus-website-design .more-than-6 {
  height: 22px;
  left: 1414px;
  position: absolute;
  top: 10454px;
  width: 21px;
}

.uecampus-website-design .rectangle-81 {
  background-color: var(--white);
  height: 15px;
  left: 461px;
  position: absolute;
  top: 9987px;
  width: 1000px;
}

.uecampus-website-design .diploma-students-wil {
  left: 508px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10028px;
}

.uecampus-website-design .trusted-by-global-institutions {
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9040px;
}

.uecampus-website-design .news-articles {
  left: 523px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7308px;
}

.uecampus-website-design .your-questions-answered {
  left: 765px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 9794px;
}

.uecampus-website-design .x1-9d8512e0-removebg-preview-1-1 {
  height: 83px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 11894px;
  width: 180px;
}

.uecampus-website-design .at-ue-campus-we-unde {
  top: 11992px;
  width: 497px;
}

.uecampus-website-design .courses {
  left: 633px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11893px;
  width: 76px;
}

.uecampus-website-design .facebook {
  height: 50px;
  left: 336px;
  position: absolute;
  top: 12104px;
  width: 50px;
}

.uecampus-website-design .ellipse-9 {
  background-color: var(--royal-purple);
  border-radius: 20px;
  height: 40px;
  left: 62px;
  position: absolute;
  top: 12109px;
  width: 40px;
}

.uecampus-website-design .ellipse-10 {
  background-color: var(--royal-purple);
  border-radius: 20px;
  height: 40px;
  left: 172px;
  position: absolute;
  top: 12109px;
  width: 40px;
}

.uecampus-website-design .ellipse-11 {
  background-color: var(--royal-purple);
  border-radius: 20px;
  height: 40px;
  left: 227px;
  position: absolute;
  top: 12109px;
  width: 40px;
}

.uecampus-website-design .instagram-circle {
  height: 50px;
  left: 279px;
  position: absolute;
  top: 12104px;
  width: 50px;
}

.uecampus-website-design .twitter-x {
  height: 25px;
  left: 234px;
  position: absolute;
  top: 12116px;
  width: 25px;
}

.uecampus-website-design .linked-in-circled {
  height: 50px;
  left: 112px;
  position: absolute;
  top: 12104px;
  width: 50px;
}

.uecampus-website-design .you-tube {
  height: 25px;
  left: 69px;
  position: absolute;
  top: 12116px;
  width: 25px;
}

.uecampus-website-design .tik-tok {
  height: 25px;
  left: 179px;
  position: absolute;
  top: 12116px;
  width: 25px;
}

.uecampus-website-design .rectangle-87 {
  background-color: #d9d9d9;
  height: 61px;
  left: 0;
  position: absolute;
  top: 12249px;
  width: 1920px;
}

.uecampus-website-design .copyright-2024-ue-c {
  color: var(--onyx);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 666px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12268px;
}

.uecampus-website-design .bachelors-masters-dba {
  left: 633px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11937px;
}

.uecampus-website-design .apply {
  left: 633px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12038px;
  width: 76px;
}

.uecampus-website-design .fees-apply-now {
  left: 633px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12082px;
}

.uecampus-website-design .programs-1 {
  left: 804px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11895px;
  width: 92px;
}

.uecampus-website-design .ppa-walsh-college-diploma {
  left: 804px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11939px;
}

.uecampus-website-design .online-study {
  left: 804px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12040px;
  width: 122px;
}

.uecampus-website-design .online-degrees-online-lms {
  left: 804px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12084px;
}

.uecampus-website-design .about-us-1 {
  left: 1021px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11895px;
  width: 148px;
}

.uecampus-website-design .about-us-faq-accredi {
  left: 1021px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11937px;
}

.uecampus-website-design .contact-us {
  left: 1220px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11895px;
  width: 148px;
}

.uecampus-website-design .infouecampuscom-1 {
  left: 1255px;
  top: 11940px;
}

.uecampus-website-design .phone-2 {
  left: 1255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11976px;
}

.uecampus-website-design .envelope {
  height: 25px;
  left: 1220px;
  position: absolute;
  top: 11939px;
  width: 25px;
}

.uecampus-website-design .newsletter {
  left: 1542px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11895px;
  width: 148px;
}

.uecampus-website-design .phone-3 {
  height: 25px;
  left: 1220px;
  position: absolute;
  top: 11975px;
  width: 25px;
}

.uecampus-website-design .image-31 {
  height: 140px;
  left: 1220px;
  object-fit: cover;
  position: absolute;
  top: 12014px;
  width: 272px;
}

.uecampus-website-design .rectangle-88 {
  background-color: var(--white);
  border-radius: 5px;
  height: 39px;
  left: 1542px;
  position: absolute;
  top: 11938px;
  width: 316px;
}

.uecampus-website-design .rectangle-89 {
  background-color: var(--royal-purple);
  border-radius: 5px;
  height: 39px;
  left: 1763px;
  position: absolute;
  top: 11938px;
  width: 95px;
}

.uecampus-website-design .rectangle-94-1 {
  background-color: var(--royal-purple);
  height: 39px;
  left: 1763px;
  position: absolute;
  top: 11938px;
  width: 9px;
}

.uecampus-website-design .sign-up {
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 1781px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11946px;
  width: 60px;
}

.uecampus-website-design .insert-email {
  color: #31363880;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 1556px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11946px;
  width: 126px;
}

.uecampus-website-design .hear-from-our-students {
  left: 1302px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 8134px;
  width: 488px;
}

.uecampus-website-design .voices-of-uecampus {
  left: 1302px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 8100px;
  width: 488px;
}

.uecampus-website-design .rectangle-141 {
  background-color: var(--royal-purple);
  height: 760px;
  left: 0;
  position: absolute;
  top: 8101px;
  width: 10px;
}

.uecampus-website-design .rectangle-95 {
  background-color: #3136384c;
  border-radius: 100px;
  height: 100px;
  left: 63px;
  position: absolute;
  top: 8209px;
  width: 617px;
}

.uecampus-website-design .image-42 {
  height: 75px;
  left: 580px;
  object-fit: cover;
  position: absolute;
  top: 8444px;
  width: 80px;
}

.uecampus-website-design .name-1 {
  top: 8234px;
}

.uecampus-website-design .level-7-diploma-in-h {
  left: 147px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  top: 8260px;
  width: 416px;
}

.uecampus-website-design .abdul-razaak {
  top: 8351px;
}

.uecampus-website-design .mba-in-data-science-uae {
  left: 137px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  top: 8377px;
  width: 426px;
}

.uecampus-website-design .name-2 {
  top: 8456px;
}

.uecampus-website-design .bachelor-of-business {
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  top: 8482px;
  width: 457px;
}

.uecampus-website-design .abdul-basit {
  top: 8567px;
}

.uecampus-website-design .bba-in-accounting-and-finance-top-up {
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  top: 8593px;
  width: 403px;
}

.uecampus-website-design .abdul-basit-pic-1 {
  height: 80px;
  left: 580px;
  position: absolute;
  top: 8552px;
  width: 80px;
}

.uecampus-website-design .jacek-zalewski {
  left: 200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  top: 8678px;
  width: 363px;
}

.uecampus-website-design .bachelor-of-business-1 {
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  top: 8704px;
  width: 457px;
}

.uecampus-website-design .completing-my-leve {
  color: var(--onyx);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 1266px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8334px;
  width: 522px;
}

.uecampus-website-design .masud-haider-bba {
  color: var(--royal-purple);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 1266px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8646px;
  width: 524px;
}

.uecampus-website-design .span-1 {
  font-style: italic;
}

.uecampus-website-design .span1 {
  font-style: italic;
  font-weight: 700;
}

.uecampus-website-design .text-1 {
  color: var(--white);
  left: 1731px;
  top: 986px;
}

.uecampus-website-design .text-2 {
  color: var(--onyx-2);
  left: 1604px;
  top: 6251px;
}

.uecampus-website-design .rectangle-116 {
  background-color: var(--white);
  border-radius: 10px;
  height: 5px;
  left: 1266px;
  position: absolute;
  top: 1011px;
  width: 150px;
}

.uecampus-website-design .rectangle-117 {
  background-color: var(--white-3);
  border-radius: 10px;
  height: 5px;
  left: 1436px;
  position: absolute;
  top: 1011px;
  width: 150px;
}

.uecampus-website-design .rectangle-118 {
  background-color: var(--white-3);
  border-radius: 10px;
  height: 5px;
  left: 1606px;
  position: absolute;
  top: 1011px;
  width: 150px;
}

.uecampus-website-design .rectangle-119 {
  background-color: var(--white);
  border-radius: 10px;
  height: 5px;
  left: 556px;
  position: absolute;
  top: 7571px;
  width: 60px;
}

.uecampus-website-design .rectangle-120 {
  background-color: var(--white-3);
  border-radius: 10px;
  height: 5px;
  left: 625px;
  position: absolute;
  top: 7571px;
  width: 60px;
}

.uecampus-website-design .rectangle-121 {
  background-color: var(--white-3);
  border-radius: 10px;
  height: 5px;
  left: 694px;
  position: absolute;
  top: 7571px;
  width: 60px;
}

.uecampus-website-design .rectangle-94-2 {
  background-color: var(--royal-purple);
  height: 9px;
  left: 62px;
  position: absolute;
  top: 1441px;
  width: 30px;
}

.uecampus-website-design .welcome-to-uecampus {
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1380px;
  width: 451px;
}

.uecampus-website-design .who-are-we {
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1346px;
  width: 451px;
}

.uecampus-website-design .rectangle-133 {
  background-color: var(--royal-purple);
  height: 9px;
  left: 945px;
  position: absolute;
  top: 6060px;
  width: 30px;
}

.uecampus-website-design .celebrating-the-stud {
  left: 357px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5999px;
  width: 1206px;
}

.uecampus-website-design .meet-our-diverse-community {
  left: 735px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5965px;
  width: 451px;
}

.uecampus-website-design .at-ue-campus-we-offe {
  top: 1484px;
  width: 796px;
}

.uecampus-website-design .rectangle-94-3 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 131px;
  position: absolute;
  top: 927px;
  width: 29px;
}

.uecampus-website-design .rectangle-33 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040 , 0px 4px 4px #00000040;
  height: 319px;
  left: 63px;
  position: absolute;
  top: 2478px;
  width: 439px;
}

.uecampus-website-design .rectangle-34 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040 , 0px 4px 4px #00000040;
  height: 319px;
  left: 515px;
  position: absolute;
  top: 2478px;
  width: 439px;
}

.uecampus-website-design .full-bba-in-general-business {
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2508px;
}

.uecampus-website-design .university {
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2558px;
  white-space: nowrap;
}

.uecampus-website-design .bs-in-it-cybersecurity {
  left: 548px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2508px;
  width: 372px;
}

.uecampus-website-design .bs-in-it-data-analytics {
  left: 1000px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2508px;
  width: 375px;
}

.uecampus-website-design .bba-in-accounting {
  left: 1451px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2508px;
  width: 413px;
}

.uecampus-website-design .surname {
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2588px;
}

.uecampus-website-design .program {
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2620px;
  white-space: nowrap;
}

.uecampus-website-design .bba {
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2650px;
}

.uecampus-website-design .university-1 {
  left: 548px;
}

.uecampus-website-design .surname-1 {
  left: 548px;
  top: 2588px;
}

.uecampus-website-design .program-1 {
  left: 548px;
}

.uecampus-website-design .bba-1 {
  left: 548px;
}

.uecampus-website-design .university-2 {
  left: 1000px;
}

.uecampus-website-design .surname-2 {
  left: 1000px;
  top: 2588px;
}

.uecampus-website-design .program-2 {
  left: 1000px;
}

.uecampus-website-design .bba-2 {
  left: 1000px;
}

.uecampus-website-design .university-3 {
  left: 1451px;
}

.uecampus-website-design .surname-3 {
  left: 1451px;
  top: 2588px;
}

.uecampus-website-design .program-3 {
  left: 1451px;
}

.uecampus-website-design .bba-3 {
  left: 1451px;
}

.uecampus-website-design .image-12 {
  background-color: var(--royal-purple);
  border-radius: 10px;
  height: 351px;
  left: 63px;
  opacity: 0.2;
  position: absolute;
  top: 2134px;
  width: 439px;
}

.uecampus-website-design .image-13 {
  background-color: var(--royal-purple);
  border-radius: 10px;
  height: 351px;
  left: 515px;
  opacity: 0.2;
  position: absolute;
  top: 2134px;
  width: 439px;
}

.uecampus-website-design .image-14 {
  background-color: var(--royal-purple);
  border-radius: 10px;
  height: 351px;
  left: 967px;
  opacity: 0.2;
  position: absolute;
  top: 2133px;
  width: 439px;
}

.uecampus-website-design .rectangle-37 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 96px;
  position: absolute;
  top: 2697px;
  width: 177px;
}

.uecampus-website-design .enroll-now {
  left: 133px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2715px;
}

.uecampus-website-design .rectangle-38 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 548px;
  position: absolute;
  top: 2697px;
  width: 177px;
}

.uecampus-website-design .enroll-now-1 {
  left: 585px;
}

.uecampus-website-design .rectangle-39 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 1000px;
  position: absolute;
  top: 2697px;
  width: 177px;
}

.uecampus-website-design .enroll-now-2 {
  left: 1037px;
}

.uecampus-website-design .rectangle-40 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 1451px;
  position: absolute;
  top: 2697px;
  width: 177px;
}

.uecampus-website-design .enroll-now-3 {
  left: 1488px;
}

.uecampus-website-design .see-all-courses {
  color: var(--bright-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 890px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 2896px;
}

.uecampus-website-design .image-4 {
  background-color: var(--royal-purple);
  height: 773px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 3112px;
  width: 1921px;
}

.uecampus-website-design .rectangle-15 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 945px;
  position: absolute;
  top: 3276px;
  width: 29px;
}

.uecampus-website-design .what-we-provide-for-your-success {
  left: 616px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 3215px;
}

.uecampus-website-design .customer-support {
  height: 100px;
  left: 1348px;
  position: absolute;
  top: 3354px;
  width: 100px;
}

.uecampus-website-design .sheets {
  height: 100px;
  left: 469px;
  position: absolute;
  top: 3363px;
  width: 100px;
}

.uecampus-website-design .graduation-cap {
  height: 100px;
  left: 1348px;
  position: absolute;
  top: 3584px;
  width: 100px;
}

.uecampus-website-design .ebook {
  height: 100px;
  left: 910px;
  position: absolute;
  top: 3358px;
  width: 100px;
}

.uecampus-website-design .x6-24-assignments {
  left: 348px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 3475px;
  width: 342px;
}

.uecampus-website-design .on-line-e-library {
  left: 789px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 3474px;
  width: 342px;
}

.uecampus-website-design .x70-more-affordable {
  left: 789px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 3712px;
  width: 342px;
}

.uecampus-website-design .x24-7-support {
  left: 1227px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 3469px;
  width: 342px;
}

.uecampus-website-design .live-prerecorded-lectures {
  left: 348px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 3712px;
  width: 342px;
}

.uecampus-website-design .address {
  left: 1227px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 3712px;
  width: 342px;
}

.uecampus-website-design .unlock-your-potential-with-us {
  left: 732px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3181px;
}

.uecampus-website-design .discount {
  height: 100px;
  left: 910px;
  position: absolute;
  top: 3584px;
  width: 100px;
}

.uecampus-website-design .teacher {
  height: 100px;
  left: 469px;
  position: absolute;
  top: 3584px;
  width: 100px;
}

.uecampus-website-design .rectangle-18 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 705px;
  position: absolute;
  top: 3408px;
  transform: rotate(-90deg);
  width: 69px;
}

.uecampus-website-design .rectangle-110 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 705px;
  position: absolute;
  top: 3629px;
  transform: rotate(-90deg);
  width: 69px;
}

.uecampus-website-design .rectangle-111 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 1157px;
  position: absolute;
  top: 3629px;
  transform: rotate(-90deg);
  width: 69px;
}

.uecampus-website-design .rectangle-109 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 1157px;
  position: absolute;
  top: 3408px;
  transform: rotate(-90deg);
  width: 69px;
}

.uecampus-website-design .university-of-alabam-1 {
  height: 308px;
  left: 0;
  position: absolute;
  top: 4065px;
  width: 1306px;
}

.uecampus-website-design .rectangle-43 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 1189px;
  position: absolute;
  top: 4142px;
  width: 259px;
}

.uecampus-website-design .apply-now {
  left: 1241px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4160px;
  width: 155px;
}

.uecampus-website-design .rectangle-44 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 60px;
  left: 1189px;
  position: absolute;
  top: 4238px;
  width: 259px;
}

.uecampus-website-design .contact-us-1 {
  left: 1241px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4256px;
  width: 155px;
}

.uecampus-website-design .how-to-apply {
  left: 848px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 4142px;
}

.uecampus-website-design .join-ue-campus-today {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 306px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  top: 4231px;
  width: 806px;
}

.uecampus-website-design .rectangle-45 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 1083px;
  position: absolute;
  top: 4202px;
  width: 29px;
}

.uecampus-website-design .rectangle-107 {
  background: linear-gradient(180deg, rgb(111, 61, 158) 0%, rgb(85.52, 36.19, 97.86) 100%);
  height: 1233px;
  left: 0;
  position: absolute;
  top: 4553px;
  width: 1920px;
}

.uecampus-website-design .earn-degrees-in-the {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 4686px;
  width: 1905px;
}

.uecampus-website-design .global-reach-and-loc {
  color: var(--white-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 381px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4643px;
}

.uecampus-website-design .rectangle-108 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 9px;
  left: 946px;
  position: absolute;
  top: 4797px;
  width: 29px;
}

.uecampus-website-design .rectangle-9 {
  background-color: var(--bright-gray);
  height: 70px;
  left: -6px;
  position: absolute;
  top: 1973px;
  width: 1954px;
}

.uecampus-website-design .explore-our-top-prog {
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1991px;
  transform: rotate(0.04deg);
  width: 1937px;
}

.uecampus-website-design .rectangle-134-1 {
  background-color: var(--royal-purple);
  height: 16px;
  left: 795px;
  position: absolute;
  top: 6648px;
  width: 330px;
}

.uecampus-website-design .rectangle-135 {
  background-color: var(--bright-gray);
  height: 16px;
  left: 1208px;
  position: absolute;
  top: 6648px;
  width: 220px;
}

.uecampus-website-design .rectangle-136 {
  background-color: var(--bright-gray);
  height: 16px;
  left: 1511px;
  position: absolute;
  top: 6648px;
  width: 220px;
}

.uecampus-website-design .rectangle-137 {
  background-color: var(--bright-gray);
  height: 16px;
  left: 189px;
  position: absolute;
  top: 6648px;
  width: 220px;
}

.uecampus-website-design .place-1 {
  color: var(--onyx);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 869px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6733px;
}

.uecampus-website-design .abdul-razaak-1 {
  color: var(--onyx);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 860px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6687px;
}

.uecampus-website-design .star {
  height: 40px;
  left: 1315px;
  position: absolute;
  top: 8581px;
  width: 40px;
}

.uecampus-website-design .star-1 {
  left: 1364px;
}

.uecampus-website-design .star-2 {
  left: 1413px;
}

.uecampus-website-design .star-3 {
  left: 1462px;
}

.uecampus-website-design .more-than-7 {
  height: 21px;
  left: 696px;
  position: absolute;
  top: 7521px;
  width: 22px;
}

.uecampus-website-design .get-quote {
  height: 100px;
  left: 1684px;
  position: absolute;
  top: 8187px;
  width: 121px;
}

.uecampus-website-design .star-4 {
  left: 1266px;
}

.uecampus-website-design .more-than-8 {
  height: 21px;
  left: 593px;
  position: absolute;
  top: 7521px;
  width: 22px;
}

.uecampus-website-design .rectangle-142 {
  height: 892px;
  left: 498px;
  position: absolute;
  top: 4840px;
  width: 924px;
}

.uecampus-website-design .marker-a {
  height: 110px;
  left: 661px;
  position: absolute;
  top: 4933px;
  width: 110px;
}

.uecampus-website-design .marker-a-1 {
  height: 110px;
  left: 559px;
  position: absolute;
  top: 5151px;
  width: 110px;
}

.uecampus-website-design .marker-a-2 {
  height: 110px;
  left: 699px;
  position: absolute;
  top: 5294px;
  width: 110px;
}

.uecampus-website-design .marker-a-3 {
  height: 110px;
  left: 913px;
  position: absolute;
  top: 5526px;
  width: 110px;
}

.uecampus-website-design .marker-a-4 {
  height: 110px;
  left: 1178px;
  position: absolute;
  top: 5360px;
  width: 110px;
}

.uecampus-website-design .marker-a-5 {
  height: 100px;
  left: 666px;
  position: absolute;
  top: 4938px;
  width: 100px;
}

.uecampus-website-design .marker-a-6 {
  height: 110px;
  left: 1043px;
  position: absolute;
  top: 4928px;
  width: 110px;
}

.uecampus-website-design .marker-a-7 {
  height: 100px;
  left: 1183px;
  position: absolute;
  top: 5365px;
  width: 100px;
}

.uecampus-website-design .uecampus-website-design-item {
  height: 50px;
  left: 1209px;
  object-fit: cover;
  position: absolute;
  top: 5381px;
  width: 49px;
}

.uecampus-website-design .marker-a-8 {
  height: 110px;
  left: 1004px;
  position: absolute;
  top: 5185px;
  width: 110px;
}

.uecampus-website-design .marker-a-9 {
  height: 100px;
  left: 1009px;
  position: absolute;
  top: 5190px;
  width: 100px;
}

.uecampus-website-design .uecampus-website-design-item-1 {
  left: 1035px;
  top: 5206px;
}

.uecampus-website-design .marker-a-10 {
  height: 100px;
  left: 704px;
  position: absolute;
  top: 5299px;
  width: 100px;
}

.uecampus-website-design .image {
  height: 50px;
  left: 730px;
  object-fit: cover;
  position: absolute;
  top: 5315px;
  width: 49px;
}

.uecampus-website-design .marker-a-11 {
  height: 100px;
  left: 564px;
  position: absolute;
  top: 5156px;
  width: 100px;
}

.uecampus-website-design .marker-a-12 {
  height: 100px;
  left: 1048px;
  position: absolute;
  top: 4933px;
  width: 100px;
}

.uecampus-website-design .uecampus-website-design-item-2 {
  left: 1074px;
  top: 4949px;
}

.uecampus-website-design .marker-a-13 {
  height: 100px;
  left: 918px;
  position: absolute;
  top: 5531px;
  width: 100px;
}

.uecampus-website-design .image-77 {
  height: 50px;
  left: 944px;
  object-fit: cover;
  position: absolute;
  top: 5547px;
  width: 49px;
}

.uecampus-website-design .image-39 {
  background-color: var(--royal-purple);
  height: 923px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 140px;
  width: 1920px;
}

.uecampus-website-design .rectangle-3845 {
  height: 709px;
  left: 990px;
  object-fit: cover;
  position: absolute;
  top: 1174px;
  width: 930px;
}

.uecampus-website-design .image-40 {
  background-color: var(--royal-purple);
  height: 709px;
  left: 990px;
  opacity: 0.2;
  position: absolute;
  top: 1174px;
  width: 930px;
}

.uecampus-website-design .image-71-2 {
  height: 353px;
  left: 63px;
  top: 2134px;
  width: 439px;
}

.uecampus-website-design .image-72 {
  height: 354px;
  left: 515px;
  object-fit: cover;
  position: absolute;
  top: 2134px;
  width: 439px;
}

.uecampus-website-design .image-80 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 354px;
  left: 515px;
  opacity: 0.2;
  position: absolute;
  top: 2134px;
  width: 439px;
}

.uecampus-website-design .image-124 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 354px;
  left: 967px;
  opacity: 0.2;
  position: absolute;
  top: 2133px;
  width: 439px;
}

.uecampus-website-design .image-126 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 354px;
  left: 1419px;
  opacity: 0.2;
  position: absolute;
  top: 2134px;
  width: 439px;
}

.uecampus-website-design .image-81 {
  background-color: var(--bright-gray);
  border-radius: 10px;
  height: 354px;
  left: 63px;
  opacity: 0.2;
  position: absolute;
  top: 2135px;
  width: 439px;
}

.uecampus-website-design .rectangle-32 {
  background-color: var(--bright-gray);
  height: 9px;
  left: 1419px;
  position: absolute;
  top: 2479px;
  width: 439px;
}

.uecampus-website-design .rectangle-30 {
  background-color: var(--bright-gray);
  height: 9px;
  left: 515px;
  position: absolute;
  top: 2479px;
  width: 439px;
}

.uecampus-website-design .rectangle-29 {
  background-color: var(--bright-gray);
  height: 9px;
  left: 63px;
  position: absolute;
  top: 2478px;
  width: 439px;
}

.uecampus-website-design .rectangle-138 {
  background-color: var(--bright-gray);
  height: 16px;
  left: 492px;
  position: absolute;
  top: 6648px;
  width: 220px;
}

.uecampus-website-design .image-83 {
  height: 247px;
  left: 900px;
  object-fit: cover;
  position: absolute;
  top: 7203px;
  width: 402px;
}

.uecampus-website-design .image-84 {
  height: 247px;
  left: 1369px;
  object-fit: cover;
  position: absolute;
  top: 7203px;
  width: 402px;
}

.uecampus-website-design .passport-size-id-2 {
  height: 584px;
  left: 731px;
  position: absolute;
  top: 8189px;
  width: 487px;
}

.uecampus-website-design .passport-size-id-3 {
  height: 80px;
  left: 580px;
  object-fit: cover;
  position: absolute;
  top: 8222px;
  width: 80px;
}

.uecampus-website-design .line-2 {
  height: 1px;
  left: 1067px;
  position: absolute;
  top: 8237px;
  width: 545px;
}

.uecampus-website-design .whats-app-image-2024-07-25-at-44903-pm-1 {
  height: 80px;
  left: 580px;
  object-fit: cover;
  position: absolute;
  top: 8443px;
  width: 80px;
}

.uecampus-website-design .picture-3 {
  height: 80px;
  left: 580px;
  top: 8330px;
  width: 80px;
}

.uecampus-website-design .whats-app-image-2024-07-26-at-84132-pm-1 {
  height: 80px;
  left: 580px;
  position: absolute;
  top: 8663px;
  width: 80px;
}

.uecampus-website-design .rectangle-3846 {
  background-color: var(--royal-purple);
  border-radius: 10px;
  height: 841px;
  left: 1115px;
  position: absolute;
  top: 10836px;
  width: 745px;
}

.uecampus-website-design .contact-us-and-tell {
  left: 1172px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10976px;
  width: 610px;
}

.uecampus-website-design .full-name {
  left: 1172px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11140px;
  width: 610px;
}

.uecampus-website-design .were-here-for-you {
  left: 1172px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10945px;
}

.uecampus-website-design .rectangle-3849 {
  background-color: var(--white);
  height: 2px;
  left: 1172px;
  position: absolute;
  top: 11170px;
  width: 630px;
}

.uecampus-website-design .email-1 {
  left: 1172px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11212px;
  width: 610px;
}

.uecampus-website-design .rectangle-3850 {
  background-color: var(--white);
  height: 2px;
  left: 1172px;
  position: absolute;
  top: 11242px;
  width: 630px;
}

.uecampus-website-design .subject {
  left: 1172px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11284px;
  width: 610px;
}

.uecampus-website-design .rectangle-3852 {
  background-color: var(--white);
  height: 2px;
  left: 1172px;
  position: absolute;
  top: 11314px;
  width: 630px;
}

.uecampus-website-design .tell-us-your-message {
  left: 1172px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11356px;
  width: 610px;
}

.uecampus-website-design .rectangle-3853 {
  background-color: var(--white);
  height: 2px;
  left: 1172px;
  position: absolute;
  top: 11440px;
  width: 630px;
}

.uecampus-website-design .rectangle-3851 {
  background-color: var(--white);
  height: 9px;
  left: 1172px;
  position: absolute;
  top: 11086px;
  width: 29px;
}

.uecampus-website-design .rectangle-3854 {
  background-color: var(--white);
  border-radius: 10px;
  height: 60px;
  left: 1172px;
  position: absolute;
  top: 11507px;
  width: 630px;
}

.uecampus-website-design .lets-get-started {
  color: var(--royal-purple);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 1408px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11525px;
}

.uecampus-website-design .image-85 {
  height: 841px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 10836px;
  width: 1053px;
}

.uecampus-website-design .image-86 {
  background-color: #6f3d9e33;
  border-radius: 10px;
  height: 841px;
  left: 62px;
  position: absolute;
  top: 10836px;
  width: 1053px;
}

.uecampus-website-design .ellipse-798 {
  background-color: #ffffffe6;
  border-radius: 35px;
  height: 70px;
  left: 127px;
  position: absolute;
  top: 10946px;
  width: 70px;
}

.uecampus-website-design .location {
  height: 40px;
  left: 142px;
  position: absolute;
  top: 10961px;
  width: 40px;
}

.uecampus-website-design .ellipse-799 {
  background-color: var(--white);
  border-radius: 35px;
  height: 70px;
  left: 127px;
  position: absolute;
  top: 11038px;
  width: 70px;
}

.uecampus-website-design .ellipse-800 {
  background-color: var(--white);
  border-radius: 35px;
  height: 70px;
  left: 127px;
  position: absolute;
  top: 11130px;
  width: 70px;
}

.uecampus-website-design .email-2 {
  height: 40px;
  left: 142px;
  position: absolute;
  top: 11053px;
  width: 40px;
}

.uecampus-website-design .phone-4 {
  height: 40px;
  left: 142px;
  position: absolute;
  top: 11145px;
  width: 40px;
}

.uecampus-website-design .surname-4 {
  left: 230px;
  text-shadow: 0px 4px 4px #00000040;
  top: 10945px;
  width: 610px;
}

.uecampus-website-design .suit-146-foxhunter-d {
  left: 230px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 10971px;
  width: 534px;
}

.uecampus-website-design .email-us {
  left: 230px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 11048px;
  width: 610px;
}

.uecampus-website-design .infouecampuscom-2 {
  left: 230px;
  text-shadow: 0px 4px 4px #00000040;
  top: 11074px;
  width: 408px;
}

.uecampus-website-design .call-us {
  left: 230px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 11140px;
  width: 610px;
}

.uecampus-website-design .phone-5 {
  left: 230px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 11166px;
  width: 408px;
}

.uecampus-website-design .rectangle-3855 {
  background-color: var(--royal-purple);
  height: 841px;
  left: 1105px;
  position: absolute;
  top: 10836px;
  width: 19px;
}

.uecampus-website-design .rectangle-114 {
  background-color: var(--royal-purple);
  height: 616px;
  left: 62px;
  position: absolute;
  top: 558px;
  width: 928px;
}

.uecampus-website-design .rectangle-3 {
  background-color: var(--white);
  border-radius: 10px;
  height: 60px;
  left: 131px;
  position: absolute;
  top: 963px;
  width: 246px;
}

.uecampus-website-design .start-your-journey {
  color: var(--royal-purple);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 166px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 981px;
}

.uecampus-website-design .advance-your-career-with-our-courses {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  left: 131px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 708px;
  transform: rotate(0.04deg);
  width: 790px;
}

.uecampus-website-design .flexible-expert-led {
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 131px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 855px;
  width: 743px;
}

.uecampus-website-design .rectangle-31 {
  background-color: var(--bright-gray);
  height: 9px;
  left: 967px;
  position: absolute;
  top: 2479px;
  width: 439px;
}

.uecampus-website-design .foto-perfil-aja-1 {
  height: 50px;
  left: 692px;
  position: absolute;
  top: 4952px;
  width: 49px;
}

.uecampus-website-design .passport-pic-1 {
  height: 50px;
  left: 590px;
  object-fit: cover;
  position: absolute;
  top: 5169px;
  width: 49px;
}

.uecampus-website-design .whats-app-image-2024 {
  height: 50px;
  left: 944px;
  position: absolute;
  top: 5547px;
  width: 49px;
}

.uecampus-website-design .image-127 {
  height: 247px;
  left: 1838px;
  position: absolute;
  top: 7203px;
  width: 402px;
}

.uecampus-website-design .abdul {
  left: 200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  width: 363px;
}

.uecampus-website-design .at-ue-campus-we {
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.uecampus-website-design .bba-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2650px;
}

.uecampus-website-design .enroll-now-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2715px;
}

.uecampus-website-design .image-71-3 {
  object-fit: cover;
  position: absolute;
}

.uecampus-website-design .infouecampuscom-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.uecampus-website-design .name-3 {
  left: 200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  width: 363px;
}

.uecampus-website-design .picture {
  object-fit: cover;
  position: absolute;
}

.uecampus-website-design .program-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2620px;
  white-space: nowrap;
}

.uecampus-website-design .read-more-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7716px;
}

.uecampus-website-design .sort-left-3 {
  height: 15px;
  position: absolute;
  top: 85px;
  width: 15px;
}

.uecampus-website-design .star-5 {
  height: 40px;
  position: absolute;
  top: 8581px;
  width: 40px;
}

.uecampus-website-design .surname-5 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.uecampus-website-design .text {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  transform: rotate(0.04deg);
  width: 127px;
}

.uecampus-website-design .uecampus-website-design-item-3 {
  height: 50px;
  object-fit: cover;
  position: absolute;
  width: 49px;
}

.uecampus-website-design .university-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2558px;
  white-space: nowrap;
}
