/* screen - walsh-college-full-programs */

.walsh-college-full-programs {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2636px;
  overflow: hidden;
  width: 1920px;
}

.walsh-college-full-programs .rectangle-95 {
  height: 585px;
  margin-left: -10318px;
  margin-top: -2758px;
  width: 1852px;
}

.walsh-college-full-programs .flex-col {
  flex-direction: column;
  margin-left: 8466px;
  min-height: 4758px;
  width: 1920px;
}

.walsh-college-full-programs .overlap-group13 {
  align-items: center;
  background-color: var(--royal-purple);
  display: flex;
  height: 45px;
  min-width: 1920px;
  padding: 0 62px;
}

.walsh-college-full-programs .have-any-questions {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 22px;
  min-width: 195px;
}

.walsh-college-full-programs .email {
  height: 25px;
  margin-left: 34px;
  width: 25px;
}

.walsh-college-full-programs .infouecampuscom {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 10px;
  min-height: 22px;
  min-width: 157px;
}

.walsh-college-full-programs .phone {
  height: 25px;
  margin-left: 21px;
  width: 25px;
}

.walsh-college-full-programs .phone-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 11px;
  min-height: 22px;
  min-width: 128px;
}

.walsh-college-full-programs .overlap-group22 {
  height: 411px;
  margin-top: 5px;
  position: relative;
  width: 1920px;
}

.walsh-college-full-programs .overlap-group14 {
  height: 411px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.walsh-college-full-programs .x1-9d8512e0-removebg-preview-1 {
  left: 870px;
  position: absolute;
  top: 0;
}

.walsh-college-full-programs .rectangle-6 {
  background-color: var(--royal-purple);
  height: 3px;
  left: 0;
  position: absolute;
  top: 87px;
  width: 1920px;
}

.walsh-college-full-programs .group-453 {
  height: 329px;
  left: 0;
  position: absolute;
  top: 82px;
  width: 1920px;
}

.walsh-college-full-programs .surname {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 65px;
  font-weight: 800;
  height: 114px;
  left: 549px;
  letter-spacing: 1.30px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 896px;
}

.walsh-college-full-programs .group-1 {
  height: 43px;
  left: 181px;
  position: absolute;
  top: 339px;
  width: 99px;
}

.walsh-college-full-programs .programs {
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.walsh-college-full-programs .diplomas {
  left: 208px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.walsh-college-full-programs .scholarships {
  left: 504px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.walsh-college-full-programs .about-us {
  left: 357px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.walsh-college-full-programs .login {
  left: 1611px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.walsh-college-full-programs .overlap-group16 {
  align-items: flex-start;
  background-color: var(--bright-gray);
  border-radius: 10px;
  display: flex;
  height: 49px;
  left: 1698px;
  min-width: 160px;
  padding: 12px 40px;
  position: absolute;
  top: 18px;
}

.walsh-college-full-programs .place {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.walsh-college-full-programs .sort-left {
  height: 15px;
  left: 160px;
  position: absolute;
  top: 35px;
  width: 15px;
}

.walsh-college-full-programs .sort-left-1 {
  left: 451px;
}

.walsh-college-full-programs .sort-left-2 {
  left: 304px;
}

.walsh-college-full-programs .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 8.0px;
  margin-top: 205px;
  min-width: 1640px;
}

.walsh-college-full-programs .overlap-group1 {
  height: 534px;
  position: relative;
  width: 523px;
}

.walsh-college-full-programs .group {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  height: 503px;
  left: 0;
  position: absolute;
  top: 0;
  width: 523px;
}

.walsh-college-full-programs .group-337 {
  height: 261.85px;
  margin-left: 13.9px;
  margin-top: 15.4px;
  width: 495.22px;
}

.walsh-college-full-programs .uiux-design-for-beginners {
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 313px;
  width: 288px;
}

.walsh-college-full-programs .price {
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 472px;
  width: 41px;
}

.walsh-college-full-programs .uiux-design {
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 408px;
  width: 112px;
}

.walsh-college-full-programs .group-3 {
  display: flex;
  gap: 12.9px;
  height: 31px;
  left: 17px;
  position: absolute;
  top: 411px;
  width: 399px;
}

.walsh-college-full-programs .group-343 {
  display: flex;
  gap: 6.4px;
  margin-top: 2.2px;
  width: 125.8px;
}

.walsh-college-full-programs .time-svgrepo-com-1 {
  height: 20.9px;
  margin-top: 3.3px;
  width: 20.28px;
}

.walsh-college-full-programs .x22hr-30min {
  height: 26.4px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0;
  width: 97.12px;
}

.walsh-college-full-programs .group-342 {
  display: flex;
  gap: 7.5px;
  height: 30.81px;
  width: 136.48px;
}

.walsh-college-full-programs .video-svgrepo-com-1 {
  height: 30.81px;
  width: 29.88px;
}

.walsh-college-full-programs .address {
  height: 26.4px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 2.2px;
  width: 97.12px;
}

.walsh-college-full-programs .group-341 {
  display: flex;
  gap: 9.6px;
  margin-top: 2.2px;
  width: 113px;
}

.walsh-college-full-programs .download-svgrepo-com-1 {
  height: 19.8px;
  margin-top: 3.3px;
  width: 19.21px;
}

.walsh-college-full-programs .address-1 {
  height: 26.4px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0;
  width: 82.18px;
}

.walsh-college-full-programs .overlap-group {
  align-items: center;
  background-color: var(--bright-gray);
  border-radius: 96px;
  display: flex;
  height: 61px;
  left: 141px;
  min-width: 221px;
  padding: 0 38.4px;
  position: absolute;
  top: 473px;
}

.walsh-college-full-programs .line {
  height: 1px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 397px;
  width: 495px;
}

.walsh-college-full-programs .group-2 {
  height: 43px;
  left: 30px;
  position: absolute;
  top: 168px;
  width: 99px;
}

.walsh-college-full-programs .overlap-group-1 {
  height: 534px;
  margin-left: 32px;
  position: relative;
  width: 523px;
}

.walsh-college-full-programs .rectangle-42 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 503px;
  left: 0;
  position: absolute;
  top: 0;
  width: 523px;
}

.walsh-college-full-programs .group-33 {
  height: 262px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 495px;
}

.walsh-college-full-programs .uiux-design-for-beginners-1 {
  left: 15px;
  top: 322px;
}

.walsh-college-full-programs .price-1 {
  left: 15px;
  top: 355px;
}

.walsh-college-full-programs .uiux-design-1 {
  left: 15px;
  top: 293px;
}

.walsh-college-full-programs .group-344 {
  display: flex;
  gap: 12.9px;
  height: 31px;
  left: 15px;
  position: absolute;
  top: 416px;
  width: 399px;
}

.walsh-college-full-programs .overlap-group-2 {
  align-items: flex-end;
  background-color: var(--bright-gray);
  border-radius: 96px;
  display: flex;
  height: 61px;
  left: 153px;
  min-width: 221px;
  padding: 14.3px 38.4px;
  position: absolute;
  top: 473px;
}

.walsh-college-full-programs .line-1 {
  height: 1px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 397px;
  width: 495px;
}

.walsh-college-full-programs .group-345 {
  height: 18px;
  left: 416px;
  position: absolute;
  top: 297px;
  width: 94px;
}

.walsh-college-full-programs .overlap-group-3 {
  height: 538px;
  margin-left: 33px;
  position: relative;
  width: 523px;
}

.walsh-college-full-programs .uiux-design-for-beginners-2 {
  left: 14px;
  top: 327px;
}

.walsh-college-full-programs .price-2 {
  left: 14px;
  top: 360px;
}

.walsh-college-full-programs .uiux-design-2 {
  left: 14px;
  top: 297px;
}

.walsh-college-full-programs .overlap-group-4 {
  align-items: flex-end;
  background-color: var(--bright-gray);
  border-radius: 96px;
  display: flex;
  height: 61px;
  left: 152px;
  min-width: 221px;
  padding: 14.3px 38.4px;
  position: absolute;
  top: 477px;
}

.walsh-college-full-programs .line-1-1 {
  height: 1px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 402px;
  width: 495px;
}

.walsh-college-full-programs .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 6.0px;
  margin-top: 64px;
  min-width: 1640px;
}

.walsh-college-full-programs .overlap-group10 {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  flex-direction: column;
  gap: 95px;
  margin-top: 340px;
  min-height: 490px;
  width: 1920px;
}

.walsh-college-full-programs .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 73px;
  min-width: 1796px;
}

.walsh-college-full-programs .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 95px;
  height: 261px;
  min-width: 1107px;
}

.walsh-college-full-programs .flex-col-1 {
  gap: 2px;
  min-height: 261px;
  width: 864px;
}

.walsh-college-full-programs .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 187px;
  min-width: 864px;
}

.walsh-college-full-programs .flex-col-2 {
  align-self: flex-end;
  gap: 15px;
  min-height: 186px;
  width: 497px;
}

.walsh-college-full-programs .at-ue-campus-we-unde {
  letter-spacing: 0;
  line-height: normal;
  min-height: 88px;
  width: 497px;
}

.walsh-college-full-programs .flex-col-3 {
  margin-left: 74px;
  min-height: 170px;
  width: 76px;
}

.walsh-college-full-programs .courses {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 76px;
}

.walsh-college-full-programs .bachelors-masters-dba {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 19px;
  min-height: 66px;
}

.walsh-college-full-programs .apply {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 35px;
  min-height: 25px;
  width: 76px;
}

.walsh-college-full-programs .flex-col-4 {
  margin-left: 95px;
  margin-top: 2px;
  min-height: 170px;
  width: 122px;
}

.walsh-college-full-programs .programs-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 92px;
}

.walsh-college-full-programs .ppa-walsh-college-diploma {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 19px;
  min-height: 66px;
}

.walsh-college-full-programs .online-study {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 35px;
  min-height: 25px;
  width: 122px;
}

.walsh-college-full-programs .flex-row-4 {
  align-items: flex-end;
  display: flex;
  height: 72px;
  min-width: 857px;
}

.walsh-college-full-programs .overlap-group20 {
  align-items: flex-start;
  background-color: var(--royal-purple);
  border-radius: 20px;
  display: flex;
  height: 40px;
  margin-bottom: 5px;
  min-width: 40px;
  padding: 7px;
}

.walsh-college-full-programs .you-tube {
  height: 25px;
  width: 25px;
}

.walsh-college-full-programs .linked-in-circled {
  height: 50px;
  margin-left: 10px;
  width: 50px;
}

.walsh-college-full-programs .overlap-group18 {
  align-items: flex-start;
  background-color: var(--royal-purple);
  border-radius: 20px;
  display: flex;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 10px;
  min-width: 40px;
  padding: 7px;
}

.walsh-college-full-programs .tik-tok {
  height: 25px;
  width: 25px;
}

.walsh-college-full-programs .overlap-group19 {
  align-items: flex-start;
  background-color: var(--royal-purple);
  border-radius: 20px;
  display: flex;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 15px;
  min-width: 40px;
  padding: 7px;
}

.walsh-college-full-programs .twitter-x {
  height: 25px;
  width: 25px;
}

.walsh-college-full-programs .instagram-circle {
  height: 50px;
  margin-left: 12px;
  width: 50px;
}

.walsh-college-full-programs .facebook {
  height: 50px;
  margin-left: 7px;
  width: 50px;
}

.walsh-college-full-programs .fees-apply-now {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 247px;
  min-height: 44px;
  min-width: 81px;
}

.walsh-college-full-programs .online-degrees-online-lms {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 90px;
  margin-top: 2px;
  min-height: 44px;
}

.walsh-college-full-programs .about-us-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 2px;
  min-height: 196px;
  width: 148px;
}

.walsh-college-full-programs .about-us-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 148px;
}

.walsh-college-full-programs .about-us-faq-accredi {
  letter-spacing: 0;
  line-height: normal;
  min-height: 154px;
}

.walsh-college-full-programs .flex-col-5 {
  align-self: flex-end;
  margin-left: 51px;
  min-height: 259px;
  width: 272px;
}

.walsh-college-full-programs .contact-us {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 148px;
}

.walsh-college-full-programs .flex-row-5 {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 19px;
  min-width: 192px;
}

.walsh-college-full-programs .envelope {
  height: 25px;
  width: 25px;
}

.walsh-college-full-programs .infouecampuscom-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 22px;
  min-width: 157px;
}

.walsh-college-full-programs .phone-container {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 11px;
  min-width: 163px;
}

.walsh-college-full-programs .phone-2 {
  height: 25px;
  width: 25px;
}

.walsh-college-full-programs .phone-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 22px;
  min-width: 128px;
}

.walsh-college-full-programs .image-31 {
  height: 140px;
  margin-top: 14px;
  object-fit: cover;
  width: 272px;
}

.walsh-college-full-programs .flex-col-6 {
  gap: 18px;
  margin-left: 50px;
  margin-top: 2px;
  min-height: 82px;
  width: 316px;
}

.walsh-college-full-programs .newsletter {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 148px;
}

.walsh-college-full-programs .overlap-group17 {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  gap: 81px;
  justify-content: flex-end;
  min-width: 316px;
}

.walsh-college-full-programs .insert-email {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 22px;
  width: 126px;
}

.walsh-college-full-programs .overlap-group-7 {
  align-items: center;
  background-color: var(--royal-purple);
  border-radius: 5px;
  display: flex;
  gap: 9px;
  min-width: 95px;
}

.walsh-college-full-programs .rectangle-94 {
  background-color: var(--royal-purple);
  height: 39px;
  width: 9px;
}

.walsh-college-full-programs .sign-up {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 22px;
  width: 60px;
}

.walsh-college-full-programs .overlap-group21 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 61px;
  min-width: 1920px;
  padding: 19px 666px;
}

.walsh-college-full-programs .copyright-2024-ue-c {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.walsh-college-full-programs .rectangle-51 {
  background-color: var(--white);
  height: 847px;
  margin-top: 1275px;
  width: 1920px;
}

.walsh-college-full-programs .group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3022px;
  margin-left: 118px;
  margin-top: 989px;
  min-height: 3936px;
  width: 964px;
}

.walsh-college-full-programs .group-container-1 {
  border-radius: 14px;
  height: 457px;
  position: relative;
  width: 490px;
}

.walsh-college-full-programs .group-372 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  height: 457px;
  left: 0;
  position: absolute;
  top: 0;
  width: 490px;
}

.walsh-college-full-programs .group-337-1 {
  height: 238px;
  margin-left: -10339.0px;
  margin-top: -2825px;
  width: 464px;
}

.walsh-college-full-programs .group-373 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  left: 13px;
  min-height: 171px;
  position: absolute;
  top: 267px;
  width: 472px;
}

.walsh-college-full-programs .name {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.walsh-college-full-programs .flex-row {
  gap: 194px;
  min-width: 464px;
}

.walsh-college-full-programs .group-357 {
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  gap: 9889px;
  height: 457px;
  width: 490px;
}

.walsh-college-full-programs .group-33-1 {
  height: 238px;
  margin-left: -10339px;
  margin-top: -2825px;
  width: 464px;
}

.walsh-college-full-programs .group-354 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 267px;
  min-height: 171px;
  width: 472px;
}

.walsh-college-full-programs .group-358 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  gap: 9888px;
  height: 457px;
  margin-left: 30px;
  margin-top: 4468px;
  width: 490px;
}

.walsh-college-full-programs .flex {
  align-items: center;
  display: flex;
}

.walsh-college-full-programs .flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.walsh-college-full-programs .price-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 42px;
}

.walsh-college-full-programs .sort-left-3 {
  height: 15px;
  position: absolute;
  top: 35px;
  width: 15px;
}

.walsh-college-full-programs .uiux-design-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 112px;
}

.walsh-college-full-programs .uiux-design-for-beginners-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 287px;
}

.walsh-college-full-programs .x1-9d8512e0-removebg-preview {
  height: 83px;
  object-fit: cover;
  width: 180px;
}
