/* screen - walsh-college-accelerated-programs */

.walsh-college-accelerated-programs {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3554px;
  overflow: hidden;
  width: 1920px;
}

.walsh-college-accelerated-programs .rectangle-95 {
  height: 585px;
  margin-left: -8250px;
  margin-top: -2750px;
  width: 1852px;
}

.walsh-college-accelerated-programs .overlap-group15 {
  align-items: center;
  background-color: var(--royal-purple);
  display: flex;
  height: 45px;
  margin-top: 2165px;
  min-width: 1920px;
  padding: 0 62px;
}

.walsh-college-accelerated-programs .have-any-questions {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 22px;
  min-width: 195px;
}

.walsh-college-accelerated-programs .email {
  height: 25px;
  margin-left: 34px;
  width: 25px;
}

.walsh-college-accelerated-programs .infouecampuscom {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 10px;
  min-height: 22px;
  min-width: 157px;
}

.walsh-college-accelerated-programs .phone {
  height: 25px;
  margin-left: 21px;
  width: 25px;
}

.walsh-college-accelerated-programs .phone-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 11px;
  min-height: 22px;
  min-width: 128px;
}

.walsh-college-accelerated-programs .navbar {
  align-items: center;
  align-self: center;
  display: flex;
  margin-top: 5px;
  min-width: 1796px;
}

.walsh-college-accelerated-programs .navbar-link-programs {
  min-width: 92px;
}

.walsh-college-accelerated-programs .sort-left {
  height: 15px;
  margin-left: 6px;
  margin-top: 1.69px;
  width: 15px;
}

.walsh-college-accelerated-programs .navbar-link-diplomas {
  margin-left: 33px;
  min-width: 90px;
}

.walsh-college-accelerated-programs .navbar-link-about-us {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.31px;
  margin-left: 38px;
  min-height: 22px;
  min-width: 88px;
}

.walsh-college-accelerated-programs .navbar-link-scholarships {
  margin-left: 38px;
  min-width: 121px;
}

.walsh-college-accelerated-programs .x1-9d8512e0-removebg-preview-1 {
  margin-left: 245px;
}

.walsh-college-accelerated-programs .navbar-link-login {
  margin-left: 561px;
  min-width: 54px;
}

.walsh-college-accelerated-programs .overlap-group13 {
  align-items: flex-start;
  background-color: var(--bright-gray);
  border-radius: 10px;
  display: flex;
  height: 49px;
  margin-left: 33px;
  margin-top: 1.69px;
  min-width: 160px;
  padding: 12px 40px;
}

.walsh-college-accelerated-programs .place {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.walsh-college-accelerated-programs .flex-row-1 {
  align-items: flex-end;
  display: flex;
  height: 4788px;
  margin-top: 4px;
  min-width: 3522px;
}

.walsh-college-accelerated-programs .flex-col {
  align-self: flex-start;
  flex-direction: column;
  min-height: 4621px;
  width: 1920px;
}

.walsh-college-accelerated-programs .rectangle-6 {
  background-color: var(--royal-purple);
  height: 3px;
  width: 1920px;
}

.walsh-college-accelerated-programs .overlap-group16 {
  align-items: flex-start;
  background-image: url(../img/group-453.png);
  background-size: 100% 100%;
  display: flex;
  height: 329px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 90px 475px;
}

.walsh-college-accelerated-programs .surname {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 65px;
  font-weight: 800;
  height: 114px;
  letter-spacing: 1.30px;
  line-height: 80px;
  text-align: center;
  width: 896px;
}

.walsh-college-accelerated-programs .overlap-group-container {
  align-items: flex-end;
  display: flex;
  height: 561px;
  margin-left: 8.0px;
  margin-top: 174px;
  min-width: 1640px;
}

.walsh-college-accelerated-programs .overlap-group12 {
  align-self: flex-start;
  height: 556px;
  position: relative;
  width: 523px;
}

.walsh-college-accelerated-programs .group {
  height: 57px;
  left: 37px;
  position: absolute;
  top: 0;
  width: 99px;
}

.walsh-college-accelerated-programs .group-366 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  height: 503px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 523px;
}

.walsh-college-accelerated-programs .group-337 {
  height: 261.85px;
  margin-left: 13.9px;
  margin-top: 15.4px;
  width: 495.22px;
}

.walsh-college-accelerated-programs .uiux-design-for-beginners-2 {
  left: 17px;
  top: 336px;
  width: 288px;
}

.walsh-college-accelerated-programs .price-2 {
  left: 19px;
  top: 495px;
  width: 41px;
}

.walsh-college-accelerated-programs .uiux-design-2 {
  left: 19px;
  top: 431px;
}

.walsh-college-accelerated-programs .group-369 {
  display: flex;
  gap: 12.9px;
  height: 31px;
  left: 17px;
  position: absolute;
  top: 434px;
  width: 399px;
}

.walsh-college-accelerated-programs .group-343 {
  display: flex;
  gap: 6.4px;
  margin-top: 2.2px;
  width: 125.8px;
}

.walsh-college-accelerated-programs .time-svgrepo-com-1 {
  height: 20.9px;
  margin-top: 3.3px;
  width: 20.28px;
}

.walsh-college-accelerated-programs .x22hr-30min {
  height: 26.4px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0;
  width: 97.12px;
}

.walsh-college-accelerated-programs .group-342 {
  display: flex;
  gap: 7.5px;
  height: 30.81px;
  width: 136.48px;
}

.walsh-college-accelerated-programs .video-svgrepo-com-1 {
  height: 30.81px;
  width: 29.88px;
}

.walsh-college-accelerated-programs .address {
  height: 26.4px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 2.2px;
  width: 97.12px;
}

.walsh-college-accelerated-programs .group-341 {
  display: flex;
  gap: 9.6px;
  margin-top: 2.2px;
  width: 113px;
}

.walsh-college-accelerated-programs .download-svgrepo-com-1 {
  height: 19.8px;
  margin-top: 3.3px;
  width: 19.21px;
}

.walsh-college-accelerated-programs .address-1 {
  height: 26.4px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0;
  width: 82.18px;
}

.walsh-college-accelerated-programs .overlap-group6 {
  align-items: center;
  background-color: var(--bright-gray);
  border-radius: 96px;
  display: flex;
  height: 61px;
  left: 141px;
  min-width: 221px;
  padding: 0 38.4px;
  position: absolute;
  top: 496px;
}

.walsh-college-accelerated-programs .line-2 {
  left: 17px;
  top: 420px;
}

.walsh-college-accelerated-programs .group-371 {
  height: 18px;
  left: 418px;
  position: absolute;
  top: 315px;
  width: 94px;
}

.walsh-college-accelerated-programs .group-1 {
  height: 57px;
  left: 30px;
  position: absolute;
  top: 482px;
  width: 99px;
}

.walsh-college-accelerated-programs .overlap-group4 {
  height: 534px;
  margin-bottom: 4.4px;
  margin-left: 32px;
  position: relative;
  width: 523px;
}

.walsh-college-accelerated-programs .rectangle-42 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 503px;
  left: 0;
  position: absolute;
  top: 0;
  width: 523px;
}

.walsh-college-accelerated-programs .group-33 {
  height: 262px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 495px;
}

.walsh-college-accelerated-programs .uiux-design-for-beginners {
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 322px;
  width: 287px;
}

.walsh-college-accelerated-programs .price {
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 355px;
  width: 42px;
}

.walsh-college-accelerated-programs .uiux-design {
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 293px;
  width: 112px;
}

.walsh-college-accelerated-programs .group-344 {
  display: flex;
  gap: 12.9px;
  height: 31px;
  left: 15px;
  position: absolute;
  top: 416px;
  width: 399px;
}

.walsh-college-accelerated-programs .overlap-group {
  align-items: flex-end;
  background-color: var(--bright-gray);
  border-radius: 96px;
  display: flex;
  height: 61px;
  left: 153px;
  min-width: 221px;
  padding: 14.3px 38.4px;
  position: absolute;
  top: 473px;
}

.walsh-college-accelerated-programs .line-1 {
  left: 15px;
  top: 397px;
}

.walsh-college-accelerated-programs .group-345 {
  height: 18px;
  left: 416px;
  position: absolute;
  top: 297px;
  width: 94px;
}

.walsh-college-accelerated-programs .overlap-group5 {
  height: 538px;
  margin-bottom: 0;
  margin-left: 33px;
  position: relative;
  width: 523px;
}

.walsh-college-accelerated-programs .uiux-design-for-beginners-1 {
  left: 14px;
  top: 327px;
  width: 287px;
}

.walsh-college-accelerated-programs .price-1 {
  left: 14px;
  top: 360px;
  width: 42px;
}

.walsh-college-accelerated-programs .uiux-design-1 {
  left: 14px;
  top: 297px;
}

.walsh-college-accelerated-programs .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--bright-gray);
  border-radius: 96px;
  display: flex;
  height: 61px;
  left: 152px;
  min-width: 221px;
  padding: 14.3px 38.4px;
  position: absolute;
  top: 477px;
}

.walsh-college-accelerated-programs .line-1-1 {
  height: 1px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 402px;
  width: 495px;
}

.walsh-college-accelerated-programs .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 6.0px;
  margin-top: 64px;
  min-width: 1640px;
}

.walsh-college-accelerated-programs .overlap-group14 {
  height: 534px;
  position: relative;
  width: 523px;
}

.walsh-college-accelerated-programs .group-454 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  height: 503px;
  left: 0;
  position: absolute;
  top: 0;
  width: 523px;
}

.walsh-college-accelerated-programs .uiux-design-for-beginners-3 {
  left: 17px;
  top: 313px;
  width: 288px;
}

.walsh-college-accelerated-programs .price-3 {
  left: 19px;
  top: 472px;
  width: 41px;
}

.walsh-college-accelerated-programs .uiux-design-3 {
  left: 19px;
  top: 408px;
}

.walsh-college-accelerated-programs .overlap-group9 {
  align-items: center;
  background-color: var(--bright-gray);
  border-radius: 96px;
  display: flex;
  height: 61px;
  left: 141px;
  min-width: 221px;
  padding: 0 38.4px;
  position: absolute;
  top: 473px;
}

.walsh-college-accelerated-programs .line-3 {
  left: 17px;
  top: 397px;
}

.walsh-college-accelerated-programs .group-377 {
  height: 18px;
  left: 418px;
  position: absolute;
  top: 293px;
  width: 94px;
}

.walsh-college-accelerated-programs .overlap-group7 {
  height: 534px;
  margin-left: 32px;
  position: relative;
  width: 523px;
}

.walsh-college-accelerated-programs .overlap-group8 {
  height: 538px;
  margin-left: 33px;
  position: relative;
  width: 523px;
}

.walsh-college-accelerated-programs .overlap-group10 {
  align-items: flex-end;
  background-color: var(--bright-gray);
  border-radius: 22px;
  display: flex;
  height: 95px;
  justify-content: flex-end;
  margin-left: 9.0px;
  margin-top: 144px;
  min-width: 305px;
  padding: 22.0px 9.8px;
}

.walsh-college-accelerated-programs .group-365 {
  height: 487px;
  margin-left: 0.8px;
  margin-top: 319px;
  width: 1669px;
}

.walsh-college-accelerated-programs .overlap-group11 {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  flex-direction: column;
  gap: 95px;
  margin-top: 213px;
  min-height: 490px;
  width: 1920px;
}

.walsh-college-accelerated-programs .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 73px;
  min-width: 1796px;
}

.walsh-college-accelerated-programs .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 95px;
  height: 261px;
  min-width: 1107px;
}

.walsh-college-accelerated-programs .flex-col-1 {
  gap: 2px;
  min-height: 261px;
  width: 864px;
}

.walsh-college-accelerated-programs .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 187px;
  min-width: 864px;
}

.walsh-college-accelerated-programs .flex-col-2 {
  align-self: flex-end;
  gap: 15px;
  min-height: 186px;
  width: 497px;
}

.walsh-college-accelerated-programs .at-ue-campus-we-unde {
  letter-spacing: 0;
  line-height: normal;
  min-height: 88px;
  width: 497px;
}

.walsh-college-accelerated-programs .flex-col-3 {
  margin-left: 74px;
  min-height: 170px;
  width: 76px;
}

.walsh-college-accelerated-programs .courses {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 76px;
}

.walsh-college-accelerated-programs .bachelors-masters-dba {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 19px;
  min-height: 66px;
}

.walsh-college-accelerated-programs .apply {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 35px;
  min-height: 25px;
  width: 76px;
}

.walsh-college-accelerated-programs .flex-col-4 {
  margin-left: 95px;
  margin-top: 2px;
  min-height: 170px;
  width: 122px;
}

.walsh-college-accelerated-programs .programs {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 92px;
}

.walsh-college-accelerated-programs .ppa-walsh-college-diploma {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 19px;
  min-height: 66px;
}

.walsh-college-accelerated-programs .online-study {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 35px;
  min-height: 25px;
  width: 122px;
}

.walsh-college-accelerated-programs .flex-row-5 {
  align-items: flex-end;
  display: flex;
  height: 72px;
  min-width: 857px;
}

.walsh-college-accelerated-programs .overlap-group22 {
  align-items: flex-start;
  background-color: var(--royal-purple);
  border-radius: 20px;
  display: flex;
  height: 40px;
  margin-bottom: 5px;
  min-width: 40px;
  padding: 7px;
}

.walsh-college-accelerated-programs .you-tube {
  height: 25px;
  width: 25px;
}

.walsh-college-accelerated-programs .linked-in-circled {
  height: 50px;
  margin-left: 10px;
  width: 50px;
}

.walsh-college-accelerated-programs .overlap-group21 {
  align-items: flex-start;
  background-color: var(--royal-purple);
  border-radius: 20px;
  display: flex;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 10px;
  min-width: 40px;
  padding: 7px;
}

.walsh-college-accelerated-programs .tik-tok {
  height: 25px;
  width: 25px;
}

.walsh-college-accelerated-programs .overlap-group20 {
  align-items: flex-start;
  background-color: var(--royal-purple);
  border-radius: 20px;
  display: flex;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 15px;
  min-width: 40px;
  padding: 7px;
}

.walsh-college-accelerated-programs .twitter-x {
  height: 25px;
  width: 25px;
}

.walsh-college-accelerated-programs .instagram-circle {
  height: 50px;
  margin-left: 12px;
  width: 50px;
}

.walsh-college-accelerated-programs .facebook {
  height: 50px;
  margin-left: 7px;
  width: 50px;
}

.walsh-college-accelerated-programs .fees-apply-now {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 247px;
  min-height: 44px;
  min-width: 81px;
}

.walsh-college-accelerated-programs .online-degrees-online-lms {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 90px;
  margin-top: 2px;
  min-height: 44px;
}

.walsh-college-accelerated-programs .about-us-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 2px;
  min-height: 196px;
  width: 148px;
}

.walsh-college-accelerated-programs .about-us {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 148px;
}

.walsh-college-accelerated-programs .about-us-faq-accredi {
  letter-spacing: 0;
  line-height: normal;
  min-height: 154px;
}

.walsh-college-accelerated-programs .flex-col-5 {
  align-self: flex-end;
  margin-left: 51px;
  min-height: 259px;
  width: 272px;
}

.walsh-college-accelerated-programs .contact-us {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 148px;
}

.walsh-college-accelerated-programs .flex-row-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 19px;
  min-width: 192px;
}

.walsh-college-accelerated-programs .envelope {
  height: 25px;
  width: 25px;
}

.walsh-college-accelerated-programs .infouecampuscom-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 22px;
  min-width: 157px;
}

.walsh-college-accelerated-programs .phone-container {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 11px;
  min-width: 163px;
}

.walsh-college-accelerated-programs .phone-2 {
  height: 25px;
  width: 25px;
}

.walsh-college-accelerated-programs .phone-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 22px;
  min-width: 128px;
}

.walsh-college-accelerated-programs .image-31 {
  height: 140px;
  margin-top: 14px;
  object-fit: cover;
  width: 272px;
}

.walsh-college-accelerated-programs .flex-col-6 {
  gap: 18px;
  margin-left: 50px;
  margin-top: 2px;
  min-height: 82px;
  width: 316px;
}

.walsh-college-accelerated-programs .newsletter {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 148px;
}

.walsh-college-accelerated-programs .overlap-group18 {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  gap: 81px;
  justify-content: flex-end;
  min-width: 316px;
}

.walsh-college-accelerated-programs .insert-email {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 22px;
  width: 126px;
}

.walsh-college-accelerated-programs .overlap-group-4 {
  align-items: center;
  background-color: var(--royal-purple);
  border-radius: 5px;
  display: flex;
  gap: 9px;
  min-width: 95px;
}

.walsh-college-accelerated-programs .rectangle-94 {
  background-color: var(--royal-purple);
  height: 39px;
  width: 9px;
}

.walsh-college-accelerated-programs .sign-up {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 22px;
  width: 60px;
}

.walsh-college-accelerated-programs .overlap-group19 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 61px;
  min-width: 1920px;
  padding: 19px 666px;
}

.walsh-college-accelerated-programs .copyright-2024-ue-c {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.walsh-college-accelerated-programs .rectangle-51 {
  background-color: var(--white);
  height: 847px;
  margin-top: 357px;
  width: 1920px;
}

.walsh-college-accelerated-programs .group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3022px;
  margin-left: 118px;
  min-height: 3936px;
  width: 964px;
}

.walsh-college-accelerated-programs .group-container-1 {
  border-radius: 14px;
  height: 457px;
  position: relative;
  width: 490px;
}

.walsh-college-accelerated-programs .group-372 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  height: 457px;
  left: 0;
  position: absolute;
  top: 0;
  width: 490px;
}

.walsh-college-accelerated-programs .group-337-1 {
  height: 238px;
  margin-left: -8271.0px;
  margin-top: -2825px;
  width: 464px;
}

.walsh-college-accelerated-programs .group-373 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  left: 13px;
  min-height: 171px;
  position: absolute;
  top: 267px;
  width: 472px;
}

.walsh-college-accelerated-programs .overlap-group-2 {
  height: 53px;
  position: relative;
  width: 275px;
}

.walsh-college-accelerated-programs .name {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.walsh-college-accelerated-programs .flex-row {
  gap: 194px;
  min-width: 464px;
}

.walsh-college-accelerated-programs .overlap-group-3 {
  align-items: center;
  background-color: var(--hint-of-red);
  display: flex;
  height: 38px;
  min-width: 38px;
  padding: 0 8px;
}

.walsh-college-accelerated-programs .group-357 {
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  gap: 7821px;
  height: 457px;
  width: 490px;
}

.walsh-college-accelerated-programs .group-33-1 {
  height: 238px;
  margin-left: -8271px;
  margin-top: -2825px;
  width: 464px;
}

.walsh-college-accelerated-programs .group-354 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 267px;
  min-height: 171px;
  width: 472px;
}

.walsh-college-accelerated-programs .group-358 {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 4px 25px #0000001a;
  display: flex;
  gap: 7820px;
  height: 457px;
  margin-left: 30px;
  width: 490px;
}

.walsh-college-accelerated-programs .flex {
  align-items: center;
  display: flex;
}

.walsh-college-accelerated-programs .flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.walsh-college-accelerated-programs .line {
  height: 1px;
  object-fit: cover;
  position: absolute;
  width: 495px;
}

.walsh-college-accelerated-programs .navbar-link {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.31px;
  min-height: 22px;
}

.walsh-college-accelerated-programs .price-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.walsh-college-accelerated-programs .uiux-design-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 112px;
}

.walsh-college-accelerated-programs .uiux-design-for-beginners-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}

.walsh-college-accelerated-programs .x1-9d8512e0-removebg-preview {
  height: 83px;
  object-fit: cover;
  width: 180px;
}
